.cta-primary {
	display: inline-block;
    background-color: rgb(247,117,31);
    border: 3px solid rgb(247,117,31);
    color: hubl("$cta_color");
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;



    &:hover {
        background-color: rgb(255,128,34);
        border: 3px solid rgb(255,128,34);
        color: hubl("$cta_color");
        -webkit-appearance: none;
    }
    p, span, strong {
    	color: inherit;
    	font-family: inherit;
    	font-size: inherit;
    }
    &--white-border {
        &:hover{
            border: 3px solid hubl("$cta_hover_background");
        }
    }
}

.cta-primary-2 {
    display: inline-block;
    background-color: #fff;
    border: 3px solid #fff;
    color: #3D97CD !important;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;

    &:hover {
        background-color: #f1f1f1;
        border: 3px solid #f1f1f1;
        color: #3D97CD;
        -webkit-appearance: none;
    }
    p, span, strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &--white-border {
        &:hover{
            border: 3px solid hubl("$cta_hover_background");
        }
    }
}

.cta-secondary {
	display: inline-block;
    background-color: transparent;
    border: 3px solid rgb(247,117,31);
    color: rgb(247,117,31);
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;
    &:hover {
        background-color: rgb(247,117,31);
        border: 3px solid rgb(247,117,31);
        color: #fff;
        -webkit-appearance: none;
    }
    p, span, strong {
    	color: inherit;
    	font-family: inherit;
    	font-size: inherit;
    }
    &--white-border {
        &:hover{
            border: 3px solid hubl("$cta_hover_background");
        }
    }
}

.cta-secondary-2 {
    display: inline-block;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    &:hover {
        background-color: #fff;
        border: 3px solid #fff;
        color: #3D97CD;
    }
    &--white-border {
        &:hover{
            border: 3px solid hubl("$cta_hover_background");
        }
    }
}
