body {
    line-height: 1.42857143;
    color: hubl("$main_font_color");
    font-family: hubl("$font");
    overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 20px 0px;
    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: hubl("$cta_background");
    }
}

p {
    margin: 20px 0px;
}

label {
    span {
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav {
    a {
        background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png');
    }
}

.row-fluid [class*="span"] {
    min-height: 0px;
}

.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.footer-container-wrapper .footer ul li a i {
    transition: all 0.3s linear;
}

.footer-container-wrapper .footer ul li a i:hover {
    background-color: #bfbfbf;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
ul,
li,
input,
span,
textarea {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: hubl("$font");
    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 20px 0px;
}

textarea {
    padding: 8px;
}

.error {
    margin: 0;
}

.widget-type-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: hubl("$cta_background");
        }
    }
}

header.header {
    .widget-type-logo {
        height: 70px;
        position: relative;
    }
    .widget-type-logo img.hs-image-widget {
        max-width: 206px;
        max-height: 60px;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

// .widget-type-rich_text a:not(.cta_button) {
//     color: hubl("$cta_background");
//     :hover {
//         text-decoration: underline;
//     }
// }

.widget-type-form {
    .form-title {
        font-size: 33px;
        font-weight: 300;
        text-align: left;
        margin: 65px 0 25px 0;
        color: hubl("$first_color");
    }
    form .hs-form-required {
        display: none;
        form input {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 18px;
            font-weight: 300;
            border: solid 1px #d6d5d5;
            margin-top: 8px;
            color: initial;
            font-family: hubl("$font"), sans-serif;
        }
    }
    .hs-form-field {
        margin-bottom: 15px;
    }
    form input.hs-button {
        @extend .cta-primary;
    }
    form select {
        background-color: #4a4949;
        border: 0;
        outline: 0;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 19px !important;
        font-family: hubl("$font"), sans-serif;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-top: 0px;
        border-radius: 0;
        background-image: url('//cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 64%;
    }
    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        margin-top: 8px;
        font-family: hubl("$font"), sans-serif;
        min-height: 130px;
    }
    form ul li {
        list-style-type: none;
        color: #fff;
    }
    form ul li.hs-form-checkbox {
        color: hubl("$main_font_color");
    }
    form ul li.hs-form-booleancheckbox {
        color: hubl("$main_font_color");
    }
    label {
        span {
            color: #fff;
        }
        position:relative;
    }

    h3 {
        font-size: 33px;
        font-weight: bold;
        text-align: left;
        margin: 65px 0 25px 0;
        color: hubl("$cta_background");
    }
    form .hs-form-required {
        display: none;
    }
    .home-contact-section .widget-type-form label {
        color: #fff;
    }
    form input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    form input[type="submit"] {
        border-bottom: none;
        font-size: 18px;
    }
    form input.hs-button {
        @extend .cta-primary;
    }
    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
        font-family: hubl("$font"), sans-serif;
        min-height: 130px;
    }
    form ul li {
        list-style-type: none;
    }
}

.footer-info .widget-type-form form input.hs-button {
    @extend .cta-primary;
}

.feedreader_box {
    margin-top: -3px;
}
// .hs_cos_wrapper_type_rich_text a:not(.cta_button) {
//   color: hubl('$bg_color_3');
//   font-weight: 500;
// }
//   .hs_cos_wrapper_type_rich_text a:not(.cta_button):hover {
//     text-decoration: underline; }

.footer-info .widget-type-form {
    form {
        margin-top: 30px;
        .hs-error-msgs {
            a,
            label {
                color: #fff;
                font-size: 16px;
            }
        }
    }
    .form-title {
        display: none;
    }
    form input {
        color: #fff;
        border-radius: 0;
    }
    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type {
        margin-top: 37px;
    }
    ::-webkit-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-ms-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    form {
        margin-top: 30px;
    }
}

.hs-form-checkbox-display span {
    padding-left: 5px;
    color: white;
}


/*    .contact-page .widget-type-form .form-title{
        margin-top: 45px;
        margin-bottom: 24px;
        font-size: 31px;
        color: #ffc400;
        text-align: left;
        font-weight: 600;
    }

    .contact .widget-type-form form input{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }
    .contact .widget-type-form form div:first-of-type div:first-of-type div:first-of-type input:first-of-type{
        margin-top: 10.4px;
    }

    .contact .widget-type-form form ::-webkit-input-placeholder {
   color: #fff;
    font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {  Firefox 18-
   color: #fff;
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-moz-placeholder {   Firefox 19+
   color: #fff;
   font-family: 'Houschka Pro',sans-serif;
}

.contact .widget-type-form form ::-ms-input-placeholder {
   color: #fff;
   font-family: 'Houschka Pro',sans-serif;
}
    .contact .hs-form-field {
        margin-bottom: initial;
    }


    .contact-page .widget-type-form form input{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .contact-page .hs-form-field{
        margin-bottom: 15px;
    }

    .contact .widget-type-form form textarea{
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
    }


    .contact-page .widget-type-form form textarea{
        border: solid 1px #d6d5d5;
        margin-top:8px;
        color: initial;
    }
    .content-landing .widget-type-form .form-title{
        display: none;
    }
    .content-landing .landing-social-sharing{
        margin-top: 15px;
        margin-bottom: 30px;
    }
.side-bar-blog ::-webkit-input-placeholder {
   color: #626262;
    font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-moz-placeholder {  Firefox 18-
   color: #626262;
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog ::-moz-placeholder {   Firefox 19+
   color: #626262;
   font-family: 'Houschka Pro',sans-serif;
}

.side-bar-blog :-ms-input-placeholder {
   color: #626262;
   font-family: 'Houschka Pro',sans-serif;
}
.side-bar-blog .widget-type-form form input{
    border-bottom: solid 1px #ffc400;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #626262;
}
.side-bar-blog .widget-type-form form input[type="submit"]{
    background-color: #ffc400;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border: solid 2px #ffc400;
}
.side-bar-blog .widget-type-form form input[type="submit"]:hover{
    background-color: white;
    color: #ffc400;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
    padding: 4.5px 20px;
    border:solid 2px #ffc400;
}
.side-bar-blog .widget-type-form form .hs_submit input{
    color: #fff;
    margin-top: 20px;
}
.side-bar-blog .widget-type-form form .hs_submit input:hover{
    color: #ffc400;
}


.side-bar-blog .widget-type-form .form-title {
    font-size: 24px;
    font-weight: normal;
}
*/

a,
.button,
.yellow-button,
.hs-button {
    -webkit-appearance: none;
}

a,
a:visited,
a:focus,
a:hover,
a:active,
input:focus,
input:active,
input:hover,
input:visited,
input,
button:focus,
button:active,
button:hover,
button:visited,
button {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gray-hover:hover a {
    color: #75787b !important;
}

.padding-zero {
    padding: 0px;
}

.button {
    @extend .cta-secondary;
}

.buttonsec {
    @extend .cta-primary;
}

h1 {
    font-size: 58px;
    color: hubl("$bg_color_2");
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 36px;
    color: hubl("$bg_color_2");
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-weight: 300;
}

h3 {
    font-size: 30px;
    color: #8c8c8c;
    font-weight: 500;
}

h4 {
    font-size: 26px;
    color: hubl("$bg_color_5");
    font-weight: 700;
}
p {
    font-weight: 300;
}
// a:not(.cta_button) {
//     color: #4d9c2d;
//     font-weight: 700;
//     &:hover {
//         color: hubl("$bg_color_4");
//         text-decoration: underline;
//     }
// }

.hs_cos_wrapper_type_rich_text {
    h1 {
        font-size: 42px;
        color: hubl("$bg_color_2");
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: 300;
    }
    h2 {
        font-size: 36px;
        color: hubl("$bg_color_2");
        text-decoration: none;
        text-transform: none;
        text-align: left;
        font-weight: 300;
    }
    h3 {
        font-size: 30px;
        color: #8c8c8c;
        font-weight: 500;
    }
    h4 {
        font-size: 26px;
        color: hubl("$bg_color_5");
        font-weight: 700;
    }
    p {
        margin-top: 0px;
        font-weight: 300;
    }
    // a:not(.cta_button) {
    //     color: #4d9c2d;
    //     font-weight: 700;
    //     &:hover {
    //         color: hubl("$bg_color_4");
    //         text-decoration: underline;
    //     }
    // }
    a.cta_button {
        text-decoration: none;
        p,
        span,
        strong {
            color: inherit;
        }
        &:hover {
            text-decoration: none;
        }
    }
    blockquote {
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-right: 10px;
            font-size: 25px;
            position: relative;
            top: 0px;
            line-height: 0;
        }
        &:after {
            content: "\f10e";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-left: 10px;
            font-size: 25px;
            position: relative;
            bottom: -10px;
            line-height: 0;
        }
        p {
            display: inline;
        }
    }
    ul {
        list-style: none;
        padding-left: 40px;
        margin-bottom: 20px;
        li {
            position: relative;
            margin-bottom: 12px;
            &:before {
                content: "\f111";
                font-family: FontAwesome;
                color: hubl("$cta_background");
                position: absolute;
                background-image: none;
                background-position: center;
                font-size: 6px;
                left: -30px;
                line-height: 24px;
            }
        }
    }
    ol {
        margin-bottom: 20px;
        counter-reset: li;
        list-style: none;
        padding-left: 40px;
        li {
            margin-bottom: 6px;
            position: relative;
            &:before {
                color: hubl("$cta_background");
                counter-increment: li;
                content: counter(li);
                position: absolute;
                width: 16px;
                background-position: center;
                left: -25px;
                top: auto;
                display: block;
                font-size: 20px;
                transform: none;
                vertical-align: middle;
                height: 32px;
            }
        }
    }
}

.secondary-header {
    text-align: center;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 77px;
    /*margin-top: 125px;*/
    cursor: pointer;
    position: absolute;
    left: 50%;
    /* px swiruje na submarket/market pages, bo jest tam absolutna maska */
    top: auto;
    bottom: 50px;
    margin-left: -10px;
}

.individual-project-page .mouse_scroll {
    top: auto;
}

.about-us .mouse_scroll {
    /* fix dla strony about-us z mniejszym headerem */
    top: 400px
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 5px 4px;
    width: 13px;
    height: 13px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    animation: mouse-scroll 1.5s infinite;
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
}

.unu {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.doi {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 34px!important;
    width: 20px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 1.5s linear infinite;
    -moz-animation: mouse-wheel 1.5s linear infinite;
    animation: mouse-wheel 1.5s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    background-color: #393939;
    height: 67px;
    color: #fff;
    position: relative;
}

.widget-type-text {
    a {
        color: #fff;
        transition: all 0.3s linear;
        &:hover {
            color: hubl("$cta_background");;
        }
    }
}
.footer-info form.hs-form .hs-form-field .input input[type="checkbox"].hs-input + span:before{
    background-color: transparent!important;
}
.footer .copy {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
}

.footer .links {
    text-align: right;
}

.footer .links a {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    line-height: 67px;
    padding: 0px 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .links a:hover {
    color: hubl("$cta_background");
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top {
    height: 67px;
    width: 67px;
    background-color: hubl("$first_color");
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
}

.footer .scroll-top i {
    font-size: 44px;
    color: #fff;
    line-height: 67px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer .scroll-top:hover i {
    line-height: 45px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer-info {
    background-color: hubl("$second_color");
    padding-bottom: 30px;
}

.footer-info h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0px 30px 0px;
    color: #fff;
}

.footer-info h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info .hs-rss-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}

.footer-info p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}

.footer-info .hs-rss-date {
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    border-bottom: solid 1px #fff;
    display: block;
}

.footer-info .hs-rss-byline {
    opacity: 1;
}

.social-footer {
    background-color: hubl("$first_color");
}

.social-footer .container.position {
    position: relative;
}

.social-footer ul {
    text-align: center;
}

.social-footer ul li {
    padding: 20px 0px;
    margin: 0px 65px;
    display: inline-block;
}

.social-footer ul li a {}

.social-footer ul li a i {
    color: #fff;
    font-size: 45px;
}

.social-footer .text {
    font-weight: lighter;
    font-size: 24px;
    margin-top: 6px;
    color: #fff;
}

.social-footer .text span {
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
}

.social-footer .text {
    position: relative;
    min-height: 85px;
}

.social-footer .text .hs_cos_wrapper_type_text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -5px;
    font-weight: 300;
}

.social-footer .triangle {
    position: absolute;
    bottom: -30px;
    right: 26%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 24.5px 0 24.5px;
    border-color: hubl("$first_color") transparent transparent transparent;
}

.header .slicknav_nav {
    padding-bottom: 10px;
}

.slicknav_nav {
    background-color: #393939;
}

.header--white .slicknav_nav {
    background-color: #fff;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    &.slick-prev {
        left: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/486307/Icons/Services/left-arrow.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 58px;
            display: block;
        }
    }
    &.slick-next {
        right: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/486307/Icons/Services/left-arrow.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform: scaleX(-1);
            width: 30px;
            height: 58px;
            display: block;
        }
    }
}

.yellow-button {
    @extend .cta-primary;
}

.mask {
    position: absolute;
    background: rgba(black, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.svg-converted path,
.svg-converted polygon {
    fill: hubl("$cta_background");
}

.svg-converted circle,
.svg-converted rect {
    stroke: hubl("$cta_background");
}

.footer-container-wrapper {
    background: hubl("$bg_color_5");
    .footer-container {
        .custom-footer {
            .container {
                > div {
                    float: none;
                    > div {
                        padding: 20px 0 20px;
                        border-bottom: 1px solid #fff;
                        @media (max-width: 767px) {
                            padding: 20px 0 0;
                        }
                        &:first-child {
                            padding: 35px 0 60px;
                            border-bottom: 1px solid #fff;
                            @media (max-width: 767px) {
                                padding: 35px 0 30px;
                            }
                        }
                        &:last-child {
                            padding: 20px 0;
                            border-bottom: none;
                            @media (max-width: 767px) {
                                padding: 20px 0 0;
                            }
                        }
                        > div {
                            float: none;
                        }
                    }
                }
            }
            .widget-type-form {
                h3 {
                    display: none;
                }
                // @media (max-width: 767px) {
                //     h3 {
                //         display: none;
                //     }
                // }
                margin-top: 43px;
                @media (max-width: 767px) {
                    margin: 20px 0;
                }

                form {
                    position: relative;
                    .hs-error-msgs {
                        text-align: center;
                        li {
                            font-size: 14px;
                        }
                    }
                    .hs_email {
                        position: absolute;
                        margin: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        height: 100%;
                        div.input {
                            input {
                                background: #525252;
                                border: 1px solid #a0a0a0;
                                border-right: none;
                                border-bottom-left-radius: 2px;
                                border-top-left-radius: 2px;
                                height: 50px;
                                width: calc(100% - 50px);
                            }
                        }
                    }
                    .hs_submit {
                        position: absolute;
                        margin: 0;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        height: 100%;
                        input {
                            background: #f7751f;
                            border: none;
                            font-family: 'FontAwesome';
                            border-radius: 2px;
                            width: 65px;
                            height: 50px;
                            line-height: 25px;
                            font-size: 24px;
                        }
                    }
                }
            }
            .footer-social-icons {
                height: 132px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (max-width: 767px) {
                    height: 60px;
                    margin-bottom: 20px;
                    margin-top: 30px;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    text-align: right;
                    margin-top: 0;
                    @media (max-width: 992px) {
                        text-align: center;
                    }
                    li {
                        display: inline-block;
                        height: 45px;
                        width: 45px;
                        text-align: center;
                        background: #fff;
                        border-radius: 25px;
                        margin-left: 11px;
                        transition: all 0.3s linear;
                        @media (max-width: 992px) {
                            margin-left: 0;
                            margin: 0 5px;
                        }
                        @media (max-width: 676px) {
                            margin-left: 0;
                            margin: 0 2px 10px;
                        }
                        a {
                            display: block;
                            height: 45px;
                            width: 45px;
                            border-radius: 25px;
                            i {
                                color: hubl("$bg_color_5");
                                line-height: 47px;
                                font-size: 24px;
                            }
                        }
                    }
                    li:hover {
                        background: hubl("$bg_color_4");
                    }
                }
            }

            .footer-sec-colums {
                > div {
                    float: none;
                    display: flex;
                    flex-wrap: nowrap;
                    @media(max-width: 767px) {
                        flex-wrap: wrap;
                    }
                    > div {
                        width: 20%;

                        &:nth-child(4) {
                            width: 25%;
                        }
                        &:nth-child(5) {
                            width: 15%;
                        }
                        @media (max-width: 767px) {
                            text-align: center;
                            width: 50%;
                            &:nth-child(4) {
                                width: 50%;
                            }
                            &:nth-child(5) {
                                width: 50%;
                            }
                        }
                        @media (max-width: 450px) {
                            width: 100%;
                            &:nth-child(4) {
                                width: 100%;
                            }
                            &:nth-child(5) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .footer-sec-text {
                .footer-text-single {
                    @media (max-width: 767px) {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    h6 {
                        color: #fff;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 500;
                        @media (max-width: 676px) {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                    a {
                        display: block;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 300;
                        color: #fff;
                        cursor: pointer;
                        margin-bottom: 2px;
                        @media (max-width: 676px) {
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 6px;
                        }
                        &:hover {
                            text-decoration: none;
                            color: hubl("$bg_color_4");
                        }
                    }
                    p {
                        display: block;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        color: #fff;
                    }
                }
            }
            .widget-type-form {
                height: 50px;
            }
            .footer-copyright-left {
                text-align: left;
                @media (max-width: 767px) {
                    text-align: center;
                }
                span {
                    color: #fff;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            .footer-sec-text {
                .footer-copyright-right {
                    text-align: right;
                    margin-bottom: 0;
                    margin-right: -25px;
                    @media (max-width: 767px) {
                        text-align: center;
                        margin-bottom: 20px;
                        margin-right: 0;
                    }
                    a {
                        display: inline-block !important;
                        font-size: 15px !important;
                        margin: 0;
                        margin-bottom: 0 !important;
                        margin-left: 10px;
                        @media (max-width: 767px) {
                            text-align: center;
                            margin-bottom: 20px;
                            margin-right: 0;
                            margin-left: 0;
                            padding: 0 10px;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    }
}

.video-container {
    position: relative;
    // padding-bottom: 56.25%; //16:9
    // padding-top: 30px;
    // height: 0;
    // overflow: hidden;
    padding: 0;
    // margin: 0 auto;
    // iframe {
    //     width: 100%!important;
    //     height: 100%!important;
    // }
}

.video-container iframe,
.video-container object,
.video-container embed {
    display: block;
    margin: 0 auto;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
}

















