.menu-black .slicknav_nav a {
    color: hubl("$main_font_color");
}

.header--white .slicknav_nav a {
    color: hubl("$main_font_color");
}

.menu-black .slicknav_nav ul {
    background-color: #fff;
}

.menu-black .fixed .slicknav_nav a {
    color: #fff;
}

.slicknav_menu {
    display: none;
    position: fixed;
    top: 13px;
    z-index: 1000;
    right: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    padding: 0px;
    .slicknav_btn {
        margin: 2px 5px 6px;
    }
}

.header-container-wrapper {
    .widget-type-cta {
        float: right;
        top: 0;
        @media screen and (max-width: 971px) {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    .hs-cta-wrapper {
        position: relative;
        height: 70px;
        width: 100%;
        display: inline-block;
        .cta_button {
            position: absolute;
            max-width: 170px;
            right: 0;
            padding: 0 !important;
            width: 165px;
            height: 38px;
            line-height: 38px;
            margin-top: 12px;
            font-size: 16px !important;
            z-index: 2;
            top: 0;
            @media screen and (max-width: 1100px) {
                right: 0;
            }
            @media screen and (max-width: 971px) {
                right: 60px;
            }
            @media screen and (max-width: 767px) {
                right: 80px;
            }
        }
    }
}

.slicknav_nav {
    width: 100%;
    max-height: calc( 100vh - 57px);
    overflow: auto;
}

.slicknav_nav .slicknav_arrow {
    margin: 0 0 0 .4em;
    font-size: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    top: -2px;
    left: 20px;
    color: transparent;
}

span.slicknav_arrow:before {
    content: "";
    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/show.png');
    position: absolute;
    height: 21px;
    width: 21px;
    right: 0;
    top: 0;
    display: block;
}

.slicknav_nav li {
    &.slicknav_open {
        padding-bottom: 10px;
        border-bottom: 1px solid hubl("$first_color")!important;
        >a {
            >span.slicknav_arrow:before {
                content: "";
                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/hide.png');
                position: absolute;
                height: 21px;
                width: 21px;
                right: 0;
                top: 0;
                display: block;
            }
        }
    }
}

span.slicknav_arrow:after {
    content: "";
    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/hide.png');
    position: absolute;
    visibility: hidden;
    height: 21px;
    width: 21px;
    right: 0;
    top: 0;
    display: block;
}

.header--white .slicknav_nav .slicknav_row:hover {
    background: #fff;
    color: hubl("$main_font_color");
}

.header--white .slicknav_nav a:hover {
    background: transparent;
}

.slicknav_btn {
    background-color: transparent;
}

.slicknav_menu .slicknav_icon-bar {
    width: 1.7em;
    height: 0.15em;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .35em;
}

.slicknav_nav .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    position: initial;
}

.slicknav_nav ul {
    margin: 13px 0px 0 0px;
    padding-left: 20px;
    background-color: #393939;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    background-color: transparent;
}

header.header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 999;
    border-bottom: solid 1px #fff;
    background-color: rgba(99, 99, 98, 0.0);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header.header--white {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.header.perma-fixed {
    background-color: rgba(57, 57, 57, 1);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-bottom: none;
}

header.header.fixed {
    background-color: #393939;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-bottom: none;
}

header.header--white.fixed {
    background-color: #fff;
}

header.header.fixed-small {
    background-color: #fff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header.header .slicknav_nav ul {
    background-color: #393939;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

header.header--white .slicknav_nav ul {
    background-color: #fff;
}

header.header--white .hover>a {
    color: hubl("$cta_background")!important;
    &:after,
    &:before {
        color: hubl("$cta_background")!important;
    }
}

.slicknav_nav li ul li {
    position: relative;
}

.slicknav_nav li ul li:before {
    content: "";
    margin-left: 10px;
    font-family: FontAwesome;
    content: '\f105';
    color: hubl("$main_font_color");
    position: absolute;
    top: 7px;
    left: -9px;
}

.header--white .slicknav_nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.header h1.logo {
    margin-top: 21px;
    color: #fff;
    position: relative;
    @media screen and (max-width: 971px) {
        margin-top: 28px;
    }
}

h1.logo img {
    z-index: 500;
}

header.header h1.logo a {
    outline: none;
    display: block;
    font-size: 0px;
    color: #fff;
}

header.header h1.logo a img {
    display: block;
    height: auto;
    max-width: none;
    max-height: 55px;
}

header.header #menu {
    float: right;
}

header.header #menu ul {
    padding: 0px;
}

header.header #menu ul li ul {}

header.header #menu ul li:hover ul {}

header.header #menu ul li.hs-menu-depth-1 {
    display: inline-block;
    line-height: 70px;
    position: relative;
    padding-right: 5px;
}

header.header #menu ul li.hs-menu-depth-1 a {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    display: block;
    font-weight: 500;
    color: #fff;
    padding: 0 0 0 22px;
    max-width: initial;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
} // header.header #menu ul li.hs-menu-depth-1>a{
//                 text-transform: none;
// }
header.header--white #menu ul li.hs-menu-depth-1 a {
    color: hubl("$main_font_color");
}

header.header #menu ul>li.hs-menu-depth-1>ul.hs-menu-children-wrapper,
header.header #menu ul>li.hs-menu-depth-1>ul.hs-menu-children-wrapper>li.hs-menu-children-wrapper {
    width: auto!important;
}

header.header #menu ul>li.hs-menu-depth-2.right-arrow>a:after {
    margin-left: 8px;
    font-family: FontAwesome;
    content: '\f105';
    position: absolute;
    color: hubl("$main_font_color");
    transition: all 0.3s linear;
}

header.header #menu ul>li.hs-menu-depth-2.left-arrow>a:before {
    margin-left: -14px;
    margin-right: 8px;
    position: absolute;
    font-family: FontAwesome;
    content: '\f104';
    color: hubl("$main_font_color");
    transition: all 0.3s linear;
}

header.header #menu ul>li.hs-menu-depth-2>a:hover:after,
header.header #menu ul>li.hs-menu-depth-2>a:hover:before {
    color: hubl("$cta_background");
    transition: all 0.3s linear;
}

header.header #menu>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li.hs-menu-item>a {
    width: auto!important;
}

header.header #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    top: -99999px;
    z-index: -1;
}

header.header #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.right.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children:hover ul.hs-menu-children-wrapper {
    left: 180px;
    top: 0px;
    z-index: 1;
    display: block;
    opacity: 1;
    visibility: visible;
}

header.header #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children:hover ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
    transition-delay: 0.1s;
    position: absolute;
    z-index: 10;
    left: 0;
}

header.header #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.left.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children:hover ul.hs-menu-children-wrapper {
    left: -168px;
    top: 0px;
    z-index: 1;
    display: block;
    opacity: 1;
    visibility: visible;
}

header.header #menu ul li.hs-menu-depth-1 ul li a {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-overflow: inherit;
    min-height: 34px;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

header.header #menu ul li.hs-menu-depth-2>ul {
    position: absolute;
    background-color: #fff;
    border-bottom: solid 2px hubl("$cta_background");
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
}

header.header #menu ul>li.hs-menu-depth-2>a:only-child:after,
header.header #menu ul>li.hs-menu-depth-2>a:only-child:before {
    font-family: FontAwesome;
    content: '';
}

header.header #menu ul li.hs-menud-depth-2 {
    border-bottom: solid 1px rgba(98, 98, 98, 0.17);
}

header.header #menu ul li.hs-menu-depth-1 ul li:hover a {
    margin-left: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

header.header #menu ul li.hs-menu-depth-1.hs-item-has-children>a:after {
    content: " \f107";
    font-family: FontAwesome;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: visible;
    top: -9999px;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    top: inherit;
}

header.header #menu ul li.hs-menu-depth-1>ul {
    position: absolute;
    left: 18px;
    background-color: #fff;
    border-bottom: solid 2px hubl("$cta_background");
    min-width: 168px;
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.36);
}

header.header #menu .hs-menu-item.hs-menu-depth-2,
header.header #menu .hs-menu-item.hs-menu-depth-3 {
    border-bottom: solid 1px rgba(98, 98, 98, 0.17);
}

.slicknav_nav .hs-menu-item.hs-menu-depth-2 {
    border-bottom: none;
}

header.header #menu ul li.hs-menu-depth-2 a {
    width: auto;
    max-width: initial;
    padding: 0px 15px;
    position: relative;
    line-height: 33px;
    color: hubl("$main_font_color") !important;
    text-transform: initial;
}

header.header #menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    position: initial;
    margin-left: 15px;
    overflow: hidden;
    opacity: 1;
}

#menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-menu-item a {}

#menu .hs-menu-depth-1 li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li.hs-menu-item a {}

.menu-black header.header #menu ul li a {
    color: hubl("$main_font_color");
}

header.header.fixed #menu ul li a {
    color: #fff;
}

header.header--white.fixed #menu ul li a {
    color: hubl("$main_font_color");
}

header.header #menu ul li a.active {
    color: hubl("$cta_background")
}

header.header #menu ul li a:hover {
    color: hubl("$cta_background") !important;
}

header.header .hs-form {
    float: right;
    line-height: 65px;
    margin-right: -6px;
    margin-left: 40px;
    width: auto;
    height: 30px;
}

header.header .gsc-search-button {
    display: none;
}

header.header .gsib_b {
    display: none!important;
}

header.header form.gsc-search-box {
    margin-bottom: 0;
    margin: 0;
    width: auto;
    float: right;
}

header.header table.gsc-search-box {
    height: 30px;
    width: auto;
    float: right;
    display: block;
}

header.header .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding: 0;
}

header.header .gsc-control-cse {
    padding: 0;
    border: 0;
    float: none;
}

header.header #___gcse_0 {
    width: auto;
}

header.header .hs-form .gsib_a {
    padding: 0;
    position: relative;
    &:after {
        font-family: FontAwesome;
        content: "\f002";
        font-size: 20px;
        background: none;
        box-shadow: none;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        left: -40px;
        z-index: 4;
        -webkit-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;
    }
}

header.header .gsc-input-box {
    border: 0!important;
    box-shadow: none!important;
}

header.header .hs-form label {
    display: none;
}

header.header .hs-form input[type="text"] {
    border: 0!important;
    position: relative!important;
    z-index: 3!important;
    right: 0;
    height: 30px!important;
    padding-left: 10px!important;
    box-shadow: none!important;
    background: hubl("$cta_background")!important;
    color: #fff!important;
    padding-right: 35px!important;
    border-radius: 20px!important;
    width: 15px!important;
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

header.header .hs-form a,
header.header .hs-form input[type="image"] {
    color: hubl("$cta_background");
}

header.header--white .hs-form a,
header.header .hs-form input[type="image"] {
    color: hubl("$main_font_color");
    z-index: -1;
    position: relative;
}

header.header--white .hs-form .gs-title {
    z-index: 6;
    font-size: 20px;
    color: hubl("$main_font_color")!important;
    line-height: 23px;
    text-decoration: none;
    &:after {
        display: none;
    }
    b {
        font-size: 20px;
        text-decoration: none;
    }
}

header.header--white .hs-form .gsc-url-top {
    line-height: 19px;
    font-family: Palanquin;
    font-size: 16px;
    color: #999999!important;
    ;
    div {
        font-size: 16px;
        color: #999999!important;
        ;
    }
}

header.header--white .hs-form .gsc-results-wrapper-overlay {
    border: none;
    margin: auto;
    border-radius: 1px;
    overflow: auto;
    height: 95%;
    -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
    border-collapse: separate;
    background: white;
    padding: 30px;
    width: 90%;
    position: fixed !important;
    top: 2%;
    left: 5%;
    opacity: 0;
    z-index: 100002;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888');
}

header.header--white .hs-form .gsc-table-result {
    line-height: 19px;
    font-family: Palanquin;
    font-size: 16px;
    color: hubl("$main_font_color")!important;
    ;
    div {
        font-size: 16px;
    }
}

header.header .hs-form a:after,
header.header .hs-form input[type="image"]:after {
    font-family: FontAwesome;
    content: "\f002";
    font-size: 20px;
    background: none;
    box-shadow: none;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: -40px;
    z-index: 2;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

header.header {
    .search {
        .gsc-cursor-box {
            .gsc-cursor-page {
                background-color: #fff!important;
                display: inline-block!important;
                font-size: 16px;
                font-weight: 400;
                padding: 0;
                color: hubl("$main_font_color")!important;
                border: 1px solid hubl("$main_font_color")!important;
                text-align: center;
                border-radius: 5px;
                line-height: 21px;
                width: 25px;
                height: 27px;
                &.gsc-cursor-current-page {
                    color: #fff!important;
                    font-weight: 400!important;
                    border-color: hubl("$cta_hover_background")!important;
                    background-color: hubl("$cta_hover_background")!important;
                }
            }
        }
    }
    .slicknav_menu {
        .search {
            display: block;
            height: 45px;
            .hs-form {
                float: left;
                margin: 0;
                margin-top: 5px;
                margin-left: 15px;
                .gsib_a:after {
                    color: hubl("$main_font_color");
                }
                input[type="text"] {
                    opacity: 1;
                    width: 140px !important;
                    z-index: 1;
                    -webkit-transition: all 0.4s linear;
                    -o-transition: all 0.4s linear;
                    -moz-transition: all 0.4s linear;
                    transition: all 0.4s linear;
                }
            }
        }
    }
}

header.header .hs-form input[type="text"]:focus,
header.header .hs-form input[type="text"].active {
    opacity: 1;
    width: 140px!important;
    z-index: 1;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

header.header .hs-form input[type="text"]:focus+a,
header.header .hs-form input[type="text"].active+a {
    z-index: 3;
}

header.header .hs-form button {
    color: hubl("$cta_background");
    background: none;
    box-shadow: none;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: -40px;
    z-index: 2;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}


/*search button*/

#hs-search-module .hs-form div.input {
    margin-top: 3px;
}

#hs-search-module .hs-form input.hs-input {
    padding-top: 0px;
    padding-bottom: 0px;
}

header.header .hs-form .field a:after {
    top: -2px;
}


/* Menu scroll */

header.header #menu {
    .scroll-bottom {
        display: none;
    }
    .scroll-top {
        display: none;
    }
    .scroll {
        overflow-y: hidden!important;
        .scroll-bottom {
            display: block;
            height: 30px;
            cursor: pointer;
            position: absolute;
            z-index: 9;
            bottom: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .scroll-top {
            display: block;
            height: 30px;
            cursor: pointer;
            position: absolute;
            z-index: 9;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
}

.second-menu {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 100;
    background: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    @media (max-width: 971px) {
        display: none;
    }
    .hs-menu-wrapper {
        text-align: center;
    }
    .layout-widget-wrapper {
        >span {
            text-align: right;
            ul {
                li:first-child {
                    &:before {
                        display: none;
                    }
                }
                li {
                    position: relative;
                    float: none !important;
                    padding: 0 7px;
                    display: inline-block;
                    width: initial;
                    @media (max-width: 568px) {
                        padding: 15px 0px 11px;
                    }
                    &:before {
                        color: #bfbfbf;
                        content: '|';
                        position: absolute;
                        top: 12px;
                        left: -7px;
                    }
                    a {
                        padding: 0 2px;
                        color: hubl("$main_font_color");
                        font-size: 14px;
                        line-height: 50px;
                        transition: color 0.3s linear;
                        font-weight: 500;
                        height: 50px;
                        @media (max-width: 568px) {
                            font-size: 14px;
                        }
                        &:hover {
                            color: hubl("$cta_background");
                            text-decoration: none;
                        }
                        &.active {
                            color: hubl("$cta_background");
                            text-decoration: none;
                            border-bottom: 2px solid hubl("$cta_background");
                        }
                    }
                }
            }
        }
    }
	.second-menu-default & {
		 .layout-widget-wrapper {
            >span {
                ul {
                    li {
                        &.active-branch {
                            a {
                                color: hubl("$cta_background");
                                text-decoration: none;
                                border-bottom: 2px solid hubl("$cta_background");
                            }
                        }
                    }
                }
            }
        }
	}
}

// Custom style for button in mobile menu from main header
.header {
    .slicknav_nav {
        padding-bottom: 0;
    }
}

.slicknav_nav li:last-child {
    >div {
        display: block;
        position: initial;
        float: none;
        .hs-cta-wrapper {
            height: auto;
        }
        a {
            position: initial;
            color: #fff;
            background: hubl("$bg_color_4");
            text-transform: uppercase;
            padding: 7px 15px;
            margin: 0;
            border-radius: initial;
            font-weight: 500;
        }
        a:hover {
            color: #fff;
            background: rgb(255, 128, 34);
        }
    }
}

.slicknav_nav li {
    a {
        font-weight: 300;
    }
    a:hover {
        color: rgb(255, 128, 34);
        text-decoration: none;
    }
    a:focus {
        color: rgb(255, 128, 34);
        text-decoration: none;
    }
    .slicknav_arrow {
        top: -5px;
    }
}