$dev_version : true;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$mainColor: #3D97CD;
$secondaryTextColor: #87C440;
$font_family : 'Open Sans', sans-serif;

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return $dev;
	}
}

$variables : (
	"$bg_color_1": #F7F7F7, 			// hubl("$bg_color_1")
	"$bg_color_2": #3D97CD, 			// hubl("$bg_color_2")
	"$bg_color_3": #87C440, 			// hubl("$bg_color_3")
	"$bg_color_4": #f7751f, 			// hubl("$bg_color_4")
	"$bg_color_5": #404040, 			// hubl("$bg_color_5")

	"$first_color": #F7F7F7, 			// 1 hubl("$first_color")
	"$second_color": #404040,			// 2 hubl("$second_color")
	"$third_color": #87C440,			// 2 hubl("$third_color")
	"$cta_background": #f7751f,		// 3 hubl("$cta_background")
	"$cta_color": #ffffff,			// 4 hubl("$cta_color")
	"$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
	"$cta_hover_color": #f7751f,		// 6 hubl("$cta_hover_color")
	"$main_font_color": #404040,		// 7 hubl("$main_font_color")

	"$font": "Open Sans"				//   hubl("$font")
);

// $variables : (
// 			  "$first_color": #003da8, 			// 1 hubl("$first_color")
// 			  "$second_color": #d457f2,			// 2 hubl("$second_color")
// 			  "$cta_background": #08991c,		// 3 hubl("$cta_background")
// 			  "$cta_color": #ea7500,			// 4 hubl("$cta_color")
// 			  "$cta_hover_background": #09d3ac,	// 5 hubl("$cta_hover_background")
// 			  "$cta_hover_color": #500993,		// 6 hubl("$cta_hover_color")
// 			  "$main_font_color": fuchsia,		// 7 hubl("$main_font_color")
// 			  "$font": "Palanquin"				//   hubl("$font")
// 			  );
// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //


@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}