<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="build/css/template.css">
        <!--<link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body>
        <h1>pricing test</h1>
        <div class="pricing-box__container">
        	<span class="hs_cos_wrapper_type_widget_container"><div class="hs_cos_wrapper_type_custom_widget"><div class="pricing-box">
        	        					<h3 class="pricing-box__title">
        	        						{{widget.pricing-box-title}}
        	        					</h3>
        	        	
        	        					<p class="pricing-box__starting-at">
        	        						Starting at 
        	        							<span class="pricing-box__price"></span>
        	        						/monthly
        	        					</p>	
        	        					<div class="pricing-box__features">
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">10 GB</span> Storage
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">150 GB</span> Bandwith
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">3</span> User Account
        	        							</p>
        	        						</div>
        	        					</div>
        	        	
        	        					<a class="pricing-box__order">
        	        						Order now
        	        					</a>
        	        						
        	        	        	</div></div>
        	        	<div class="hs_cos_wrapper_type_custom_widget"><div class="pricing-box">
        	        					<h3 class="pricing-box__title">
        	        						{{widget.pricing-box-title}}
        	        					</h3>
        	        	
        	        					<p class="pricing-box__starting-at">
        	        						Starting at 
        	        							<span class="pricing-box__price"></span>
        	        						/monthly
        	        					</p>	
        	        					<div class="pricing-box__features">
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">10 GB</span> Storage
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">150 GB</span> Bandwith
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">3</span> User Account
        	        							</p>
        	        						</div>
        	        					</div>
        	        	
        	        					<a class="pricing-box__order">
        	        						Order now
        	        					</a>
        	        						
        	        	        	</div></div>
        	        	<div class="hs_cos_wrapper_type_custom_widget"><div class="pricing-box">
        	        					<h3 class="pricing-box__title">
        	        						{{widget.pricing-box-title}}
        	        					</h3>
        	        	
        	        					<p class="pricing-box__starting-at">
        	        						Starting at 
        	        							<span class="pricing-box__price"></span>
        	        						/monthly
        	        					</p>	
        	        					<div class="pricing-box__features">
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">10 GB</span> Storage
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">150 GB</span> Bandwith
        	        							</p>
        	        						</div>
        	        						<div class="pricing-box__feature"> 
        	        							<p class="pricing-box__feature-text">
        	        								<span class="pricing-box__feature-text--bold">3</span> User Account
        	        							</p>
        	        						</div>
        	        					</div>
        	        	
        	        					<a class="pricing-box__order">
        	        						Order now
        	        					</a>
        	        						
        	        	        	</div></div></span>
        	
        </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="js/cutWrapper.js"></script>
    </body>
</html>