body {
	font-family: 'Arial';
}

a {
	
}

a:hover {

}

h4 {
	color:#292213;
}

p {
	font-size: 16px;
	line-height: 24px;
}

p a {
	text-decoration: none;
	color: #da0627;
}

p a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #da0627;
}

  .guzik{
  	padding-left: 954px;

  }

 .skontaktuj{
 	color: white;
 	background-color: #da0627;
 	width: 220px;
 	height: 60px;
 	text-align: center;
 	padding-top: 17px;
 	font-size: 17px;

}

#face-slider {
	position:fixed;
	right:-250px; 
	top:190px; 
	z-index:100; 
	width:285px;
}

#face-slider .tab {
	cursor:pointer; 
	height:110px; 
	width:35px; 
	float:left; 
	background: url(../img/facebook-slider.png) no-repeat center center; 
}

#face-slider .fb-like-box {
	background: #fff; 
	float:left; 
	width:250px; 
	height:296px; 
	-moz-border-radius: 0 0 0 8px; 
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}

.slick-prev {
	left: 10px;
	background-color: rgba(0,0,0, 0.5)!important;
	height: 40px;
	width: 40px;
}

.slick-prev:hover {
	background-color: rgba(0,0,0, 0.5);
}


.slick-prev:before {
	font-family: FontAwesome;
	content:"\f104";
	color:white;
	font-size: 40px;
}

.slick-next {
	background-color: rgba(0,0,0, 0.5)!important;
	right: 10px;
	height: 40px;
	width: 40px;
}

.slick-next:hover {
	background-color: rgba(0,0,0, 0.5);
}



.slick-next:before {
	font-family: FontAwesome;
	content:"\f105";
	color:white;
	font-size: 40px;
}

/*HEADER */

.bussines {
		display: inline-block;
    	float: right;
    	margin-top: 25px;
    	margin-right: 20px;
} 
.bussines a img:hover {
		cursor: pointer;
}

.bussines a img {
	height: 51px;
}

#header {

}

	#header h1.logo {
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		height:65px;
		width: 90px;
		margin-left:25px;
		margin-bottom:20px;
		cursor: pointer;
		display: inline-block;
		
	}
	#header .number{
		
		float: right;
		font-size: 18px;
		background-color: #da0627;
		display: inline-block;
		margin: 24px 0 0 0;

		
	}
	#header .number a{
		color: #fff;
	    padding: 7px 12px;
	    text-decoration: none;
    	display: inline-block;
	}
	#header .number span{
		display: inline-block;
    	vertical-align: middle;
   		margin: -10px 0 0 0;

	}
	
	#header .number i{
		color: #fff;
		padding: 10px 12px;
    	border-right: solid 2px #fff;
    	font-size: 31px;
	}	
	

		#header h1.logo a {
		}

	#header nav.main-nav {
		color: #292213;
		display: table;
	}

		#header nav.main-nav ul {
			border-bottom: 1px solid #cccccc;
			padding:0px;
			margin:0px;
			padding-bottom: 10px;

		}

			#header nav.main-nav ul li {

				display: table-cell;
				list-style: none;
				height:30px;
				text-align: center;
				font-family: 'Arial' ;
				font-size: 13px;
				vertical-align: middle;
				padding:0px 9px;
				text-transform: uppercase;
				border-right: 1px solid #cccccc;

			}
				
				#header nav.main-nav ul li a{
					color:#292213;

				}

			#header nav.main-nav li:last-child {
				border-right: none;
			}

				

.close-submenu a{
	cursor:default;
}

/*SUBMENU*/

#header nav.main-nav ul li .sub-menu {
	position: absolute;
	z-index: 9999;
	border: 0px;
	background: rgba(255,255,255,1);
	border-top: 1px solid #cccccc;
	margin-top: 10px;
	padding-top: 10px;
	width: 300px;
	margin-left: -9px;
	display: none;
}

#header nav.main-nav ul li:hover .sub-menu {
	display:block;
} 

#header nav.main-nav .sub-menu li {
	text-align: left;
	background-image: url(../img/arrow-right.png);
	background-repeat: no-repeat;
	background-position: left;
	 
	margin-left: 5px;
	padding-left: 13px;
	margin-top: 15px;
	height: 15px;
	border-left: 0px;

}

#header nav.main-nav .sub-menu a {
	line-height: 18px;
}

#header nav.main-nav .sub-menu li:first-child {
	margin-top:10px;
	border:0px;
}


/*nowe*/
.menu-item-123  {    
	position:relative;
	border:0px;
}


/*osobowe*/
#header nav.main-nav ul .menu-item-338 {
	display:block;
}

/*dostawcze*/
#header nav.main-nav ul .menu-item-339 {
	display:block;
	border-left: 0px;
	border-right: 0px;
}

#header nav.main-nav ul .menu-item-340 {
	display: block;
	border-right: 0px solid;
}

#header nav.main-nav ul .menu-item-221 {
	display:block;
}

#header nav.main-nav ul .menu-item-134 .sub-menu {
	margin-left: -10px;
	margin-top:19px;
	width:100px;
} 

#header nav.main-nav ul .menu-item-27  {
	display: block;
}

/*ARTICEL 1*/


.submenu-article1 {
	width: 100%;
	height: 240px;
	left: 0%;
	z-index: 99;
	background: white;
	position: absolute;
	border-left: 1px solid #cccccc;
	top: 367%;
	margin-top: -110px;
	padding: 0px 15px;
	display:none;
	box-shadow: 3px 3px 3px #707070;

}

.submenu-article1 a {
	text-decoration: none;
}

.submenu-article1 .submenu-post-box-2 {
	overflow:hidden;
	width:50%;
	float:right;
	border-left:1px solid #cccccc;
}
	.submenu-article1 .submenu-post-box-2 .image {
		width:300px;
		height:220px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		float:left;
		margin-right:40px;
		margin-left:40px;

	}
	@media(max-width:1199px){
		.submenu-article1 .submenu-post-box-2 .image {
		width:250px;
		
		}
	}

	.submenu-article1 .submenu-post-box-2 .title {
		text-align: left;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}


	.submenu-article1 .submenu-post-box-2 .desc {
		text-align: left;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.submenu-article1 .submenu-post-box-2 .price {
		text-align: left;
		font-size: 15px;
		font-weight: lighter;
		margin-bottom: 10px;			
	}

	.submenu-article1 .submenu-post-box-2 .btns{
		float:left;
	}

	.submenu-article1 .submenu-post-box-2 .btn-1 {
		height: 38px;
		background: #da0627;
		padding:10px;
		color:white;
		margin-bottom: 15px;
	}

	.submenu-article1 .submenu-post-box-2 .btn-2 {
		height: 38px;
		background-color: #da0627;
		padding:10px;
		color:white;
	}

/*ARTICLE 2*/



 
.submenu-article1 .submenu-post-box-1 {
	overflow:hidden;
	width:50%;
	float:left;
	border-right:1px solid #cccccc;
}
	.submenu-article1 .submenu-post-box-1 .image {
		width: 300px;
		height: 220px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		float:left;
		margin-right:40px;
	}

	.submenu-article1 .submenu-post-box-1 .title {
		text-align: left;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}


	.submenu-article1 .submenu-post-box-1 .desc {
		text-align: left;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.submenu-article1 .submenu-post-box-1 .price {
		text-align: left;
		font-size: 15px;
		font-weight: lighter;
		margin-bottom: 10px;			
	}

	.submenu-article1 .submenu-post-box-1 .btns{
		float:left;
	}

	.submenu-article1 .submenu-post-box-1 .btn-1 {
		height: 38px;
		background: #da0627;
		padding:10px;
		color:white;
		margin-bottom: 15px;
	}

	.submenu-article1 .submenu-post-box-1 .btn-2 {
		height: 38px;
		background-color: #da0627;
		padding:10px;
		color:white;
	}

/*SLIDER*/

#slider {
	margin-top:20px;
}

	#slider .slides {

		
	}

		#slider .slides .slide-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 310px!important;
			position: relative;
		}
		
		.slick-dots li button:before {
			display:none;
		}

		.slick-dots li{
			padding-bottom: 75px;
			



		}

			

		 .slick-dots li button{
				border:1px solid white;
				background-color: white;
				height: 12px;
				width: 12px;
			
		}

	

		.slick-dots li button:hover{
			background-color: white;
		}
		

		
		}
			
		.slicks-dots li button:before{
			display: none;

		}



			 .slick-dots li button:hover {
		
		 	background-color: white;
			

			 }

			 .slick-dots .slick-active button {
			 	background-color: #da0627;
			 }
				#slider .slides .slide-item .welcome {

				}

					#slider .slides .slide-item .welcome h3 {
							background-color: rgba(87, 62, 40, 0.8);
							color:white;
							font-size: 28px;
							line-height: 32px;
							padding: 20px;
							font-family: 'Arial';
							text-transform: uppercase;
							max-width: 40%;
							position: absolute;
					}

				#slider .slides .slide-item .contact-btn {
						color: white;
						text-transform: uppercase;
						text-align: center;
						font-size: 17px;
						position: absolute;
						float:right;
						top: 226px;
						right: 22px;
						background-color: #da0627;
						padding: 14px;
				}


/*CONFIGURE*/

#configure {

}

	#configure .conf {
		height: 269px;
		width: 269px;
		float:left;
		margin-right: 21px;
		position: relative;
	}

	#configure .conf:last-child{
		margin-right: 0px;
	}

		#configure .conf .conf-name{
			position: absolute;
			top: 43%;
			background-color: #da0627;
			width:100%;
			height:48px;
			color: white;
			padding:12px;
		}

			#configure .conf .conf-name p {
				font-size: 18px;
				text-transform: uppercase;
				text-align: center;

			}

		#configure .conf .conf-sub {
				height:238px;
				width: 238px;
				background-color: rgba(0, 0, 0, 0.6);
				color:white;
				border: 1px solid white;
				margin:16px;
				text-align: center;
				position:relative;
		}


			#configure .conf .conf-sub .conf-sub-text{
					
					padding: 20% 14%;
			}

			#configure .conf .conf-sub .conf-sub-text a {
				color:white;
			}

				#configure .conf .conf-sub .conf-sub-text .title {
						text-transform: uppercase;
						font-size:18px;
				}

				#configure .conf .conf-sub .conf-sub-text .desc{
						text-transform: uppercase;
						font-size: 13px;
				}
		
			#configure .conf .conf-sub .conf-sub-btn{
				text-transform: uppercase;
				position:absolute;
				background-color: #da0627;
				top:70%;
				left:20%;
				color:white;
				font-size:12px;
				padding: 10px 20px;
			}

			#configure .conf .conf-sub .conf-sub-btn a {
				color:white;
			}

			#configure .conf .conf-sub .conf-sub-btn:hover {
				cursor: pointer;
				color:white;
			}



/*PROMOTION*/

#home-bottom {
	margin-top: 40px;
}

	#home-bottom .promotion{
			height: 350px;
			border-right: 1px solid #cccccc;
	}
		
		#home-bottom .baner {
			height:auto;
			max-width:100%;
			background-repeat: no-repeat;
			overflow: hidden;
			background-size: cover;
		}

	/*	#home-bottom .promotion .title {
				border-left:2px solid #d9001b;
				padding-left:10px;
				text-transform: uppercase;
				color: #292213;
		}

			#home-bottom .promotion .title p {
		
			}

		#home-bottom .promotion .slides {

		}

			#home-bottom .promotion .slides .slide-item {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				height: 300px;
				position: relative;
		}

			#home-bottom .promotion .slides .slick-slide {
				width:400px;
			}

			#home-bottom .promotion .right-column {
					margin-top:180px;
			}

		#home-bottom .promotion .car-name {
			text-transform: uppercase;
			color:#292213;

		}
		
		#home-bottom .promotion .car-price {

		}

			#home-bottom .promotion .car-price .price {
				text-transform: uppercase;
				color: #d9001b;

			}

			#home-bottom .promotion .car-price .price-val {
				
			}

		#home-bottom .promotion .btn-show {
			color:white;
			height:27px;
			width:106px;
			background-color: #da0627;
			font-size:13px;
			text-align: center;
			line-height: 27px;
			text-transform: uppercase;
			
		}

		#home-bottom .promotion .btn-contact {
			margin-top:6px;
			color:white;
			height:27px;
			width:106px;
			background-color: #da0627;
			font-size:13px;
			text-align: center;
			line-height: 27px;
			text-transform: uppercase;
		}*/

/*NEWS*/

	#home-bottom .news {
	}

		#home-bottom .news .title {
				border-left:2px solid #d9001b;
				padding-left:10px;
				text-transform: uppercase;
				color: #292213;

		}

			#home-bottom .news .new-content {
					font-size:16px;
					margin-top:20px;
			}

			#home-bottom a {

			}

			#home-bottom a:hover {
				text-decoration: none;
			}

			#home-bottom .news .news-list {
				padding:0px;
				margin-top:62px;
			}

				#home-bottom .news .news-list li {
					border: 1px solid #d9001b;
					list-style: none;
					margin-bottom: 7px;
					text-align: center;
					color:black;
					padding: 4px;
				}

				#home-bottom .news .news-list li:hover {
					background-color: #d9001b;
					list-style: none;
					margin-bottom: 7px;
					text-align: center;
					color: white;
					cursor:pointer;
				}
				
			#home-bottom .news .btn-more{
					color:white;
					height:27px;
					width:106px;
					background-color: #da0627;
					font-size:13px;
					text-align: center;
					line-height: 27px;
					text-transform: uppercase;
					margin-top:44px;
			}	

		#home-bottom .btn-link {
			color: #da0627;
			text-transform: uppercase;
		}

		.home-read-more2 {
			color:white;
			background-color: #da0627;
			height:40px;
			padding:10px;
			margin-bottom: 15px;
			text-transform:uppercase;

		}

		.home-read-more2:hover {
			color:white;
		}
		
		.home-read-more {
			color:white;
			background-color: #da0627;
			height:40px;
			padding:10px;
			float:right;
			margin-bottom: 15px;

		}

		.home-read-more:hover {
			color:white;
		}

/*FOOTER*/

#footer {

}

	#footer .footer-nav {
		margin-top: 80px;
	}

		#footer .footer-nav ul {
			border-top: 1px solid #cccccc;
			padding:0px;
			margin:0px;
			padding-top: 10px;
			text-align: center;
		}

			#footer .footer-nav ul li {
				display: inline-block;
				list-style: none;
				height:20px;
				border-right: 1px solid #cccccc;
				padding:0px 5px;
			}

			#footer .footer-nav ul li p {
				font-size: 9px;
				color: #292213;
			}

				#footer .footer-nav ul li a {
					text-transform: uppercase;
					text-align: center;
					font-size: 9px;
					color: #292213;

				}

/*LANDING*/

#landing-background {
	background: url(../img/landing-background.png)  no-repeat 50% 50% fixed;; 
    background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#landing {
	margin-top:100px;
}

	#landing .title {

	}

		#landing .title .title-top {
			font-size:35px;
			color:#d9001b;
			text-transform: uppercase;
		}

		#landing .title .title-bot {
			font-size:25px;
			color:white;
			text-transform: uppercase;
		}

	#landing .landing-box {
		width:100%;
		height: 383px;
		background-color:rgba(217, 0, 27, 0.8);
		color:white;
		height: 421px;
		padding:10px 20px;
	}	

	#landing .landing-box p {
		background-image: url(../img/tick.png);
		background-repeat: no-repeat;
		background-position: left;
		padding-left:35px;
	}

	#landing .contact {

	}
	
	#landing .form {
		background-color: rgba(255, 255, 255, 0.8);
		border:0px;
		position:relative;
		width:90%;
		min-height: 489px;
	}

		#landing .form legend {
			color:#d90e27;
			border:0px;
			text-align: center;
			padding-top: 15px;
		}

		#landing .form label {
			margin-bottom:0px;
			font-size: 11px;
			color:#606060;
			font-weight: lighter;
			margin-left: 10%;
			margin-top:10px;

		}

		#landing .form input {
			margin-left: 10%;
			margin-right: 10%;
			border: 0px;
			width: 80%;
		}

		#landing .form span span {
			font-size: 11px;
			margin:0 10%;
			color:#D90E27;
		}

		#landing .form select {
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom:10px;
			border: 0px;
			position: absolute;
			width: 80%;

		}

		#landing .form .submit {
			background-color: #d9001b;
			padding:10px;
			color:white;
			margin-top: 10px;
			margin-bottom:10px;

		}

	#landing .bottom-stripe {
		color:white;
			width:100%;
			height:50px;
			background-color:rgba(217, 0, 27, 0.8);
			bottom:0px;
			position: absolute;
	}

		#landing .bottom-stripe ul {
			margin:0px;
			text-align: center;
		}

			#landing .bottom-stripe ul li {
				display: inline-block;
				margin-right:30px;
				background-repeat: no-repeat;
				overflow: hidden;
				margin-top: 16px;
			}

.screen-reader-response {
	position: absolute;
	color: #D90E27;
	padding:10px;
	font-size:12px;
	text-align: center;
	margin-top:40px;
}


	.screen-reader-response li {
		display: none;
	}
.wpcf7-response-output {
	display: none;
} 

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	border: 2px solid red;
}

.vs {
	margin:20px 0px;
}

/*FORM*/

#submenu {

}

	#submenu ul {
		margin-top:40px;
	}
	
	#submenu ul li:first-child {
		text-transform: uppercase;
		margin-left: -40px;
		background-color: white;
		height:20px;
		line-height: 20px;
		border-left:2px solid #d9001b;
		padding-left: 10px;
		text-align:left;
		width: 348px;
	}

		#submenu ul li:first-child a {
			color: #292213;
		}

		#submenu ul li {
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			width:260px;
			height:40px;
			line-height: 40px;
			background-color: #d9001b;
		}

			#submenu ul li a {
				color:white;
			}


#form {
	margin-top:50px;
}

	#form legend {
		font-size: 16px;
		color: #d9001b;
		text-transform: uppercase;
		border:0px;
	}

	#form .legend2 {
		font-size: 16px;
		color: white;
		border:0px;
	}

	#form form label {
		margin-bottom:0px;
		font-size: 11px;
		color:#606060;
		font-weight: lighter;
		
	}
	
	#form form .label2 {
		margin-bottom:0px;
		font-size: 16px;
		color:#d9001b;
		text-transform: uppercase;
		padding:40px 0px;
	}

	#form form input {
		border:1px solid #c1c1c1;
		width:420px;
		height:35px;
	}

	#form form textarea {
		width:420px;
		height:80px;
	}

	#form form select {
		width:420px;
	}

	#form form .politic {
		font-size:10px;
	}

	#form .select-hour-date {
		width: 138px;
	}

	#form .checkbox {
		width: 19px;
		height: 14px;
		display:inline;
	}

	#form form .politic-checkbox {

	}

	#form form .plus {
		background-image: url(../img/plus.png);
		background-repeat: no-repeat;
		background-position: center right;
		display:inline-block;
		width: 65%;

	}

	#form form .plus:hover{
		background-image: url(../img/plus.png);
		background-repeat: no-repeat;
		background-position: center right;
		display:inline-block;
		width: 65%;
		cursor:pointer;
	}

	#form form .submit {
		text-align: center;
		background-color: #d9001b;
		color:white;
		width:100px;
		margin-left: 350px;
	}

	#form form .desc-form {
		font-size:10px;
		padding-left: 24px;
		padding-right: 170px;
	}


#contact-working-time {
	margin-top:100px;
}
	
	#contact-working-time .title-top {
		border-left:2px solid #d9001b;
		padding-left: 10px;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	#contact-working-time .title-top-first {
		border-left:2px solid #d9001b;
		padding-left: 10px;
		margin-bottom: 40px;
		margin-top: 0px;
	}
	
	#contact-working-time .email {
		font-size:10px;
		background-image: url(../img/evenlope.png);
		background-repeat: no-repeat;
		overflow: hidden;
		padding-left:50px;
		height:30px;
		line-height: 30px;
		margin-bottom: 10px;

	}

	#contact-working-time .email a{
		text-decoration: none;
		color:#333;
	}

	#contact-working-time .email a:hover{
		color:#D9001B;
	}

	#contact-working-time .phone {
		font-size:10px;
		background-image: url(../img/phone.png);
		background-repeat: no-repeat;
		overflow: hidden;
		padding-left:50px;
		height:30px;
		line-height: 30px;

	}

	#contact-working-time .service {
		font-size:10px;
	}

			#contact-working-time .service .title {
				border:0px;
				font-size:12px;
				height:30px;
				line-height: 30px;
				padding-left:50px;
				text-transform: uppercase;
				background-image: url(../img/tools.png);
				background-repeat: no-repeat;
				overflow: hidden;
		}

			#contact-working-time .service .hours {
				padding-left:50px;
		}

	#contact-working-time .blacharka {
		font-size:10px;
		margin:20px 0px;
	}

			#contact-working-time .blacharka .title {
				border:0px;
				font-size:12px;
				height:30px;
				line-height: 30px;
				padding-left:50px;
				text-transform: uppercase;
				background-image: url(../img/car.png);
				background-repeat: no-repeat;
				overflow: hidden;
		}

			#contact-working-time .blacharka .hours {
				padding-left:50px;
		}


	#contact-working-time .control-station {
			font-size:10px;
	}

			#contact-working-time .control-station .title {
				border:0px;
				font-size:12px;
				height:30px;
				line-height: 30px;
				padding-left:50px;
				text-transform: uppercase;
				background-image: url(../img/home.png);
				background-repeat: no-repeat;
				overflow: hidden;
		}

			#contact-working-time .control-station .hours {
				padding-left:50px;
		}

	#contact-working-time .salon {
			font-size: 10px;
			padding-top: 20px;

	}

		#contact-working-time .salon .title {
			border:0px;
			font-size: 12px;
			height:30px;
			line-height: 30px;
			padding-left: 50px;
			text-transform: uppercase;
			background-image: url(../img/salon.png);
			background-repeat: no-repeat;
			overflow: hidden;
		}	

			#contact-working-time .salon .hours {
				padding-left: 50px;
			}
	#contact-working-time .adres{
			font-size: 10px;
			padding-top: 20px;
	}

		#contact-working-time .adres .title {
			border:0px;
			font-size: 12px;
			height:30px;
			line-height: 30px;
			padding-left: 50px;
			text-transform: uppercase;
			background-image: url(../img/phone.png);
			background-repeat: no-repeat;
			overflow: hidden;
			font-weight: normal;

		}

	#contact-working-time .czesci{
			font-size: 10px;
			padding-top: 20px;
	}

		#contact-working-time .czesci .title {
			border:0px;
			font-size: 12px;
			height:30px;
			line-height: 30px;
			padding-left: 50px;
			text-transform: uppercase;
			background-image: url(../img/home.png);
			background-repeat: no-repeat;
			overflow: hidden;

		}


	#form form .check-serv {
			width: 25px;
			height: 15px;
		}

		#form form .plus {
			padding:10px 0px;
		}

/*NEW CARS*/

#new-car-top{
	margin-top:20px;
}

	#new-car-top .new-car-baner {
		background-image: url(../img/new-car-baner.png);
		height:219px;
		width:100%;
		position: relative;
	}

		#new-car-top .new-car-baner .baner-stripe {
			height:120px;
			width:100%;
			top:23%;
			background-color: rgba(0,0,0, 0.6);
			position:absolute;
		}
			#new-car-top .new-car-baner .baner-stripe p {
				text-transform: uppercase;
				color:white;
				font-size: 28px;
				line-height: 120px;
				margin-left: 20px;

			}


#new-car {
	margin-top:60px;
}

	#new-car .left-list {

	}

		#new-car .left-list .title {
			color: #292213;
			text-transform: uppercase;
			border-left: 2px solid #da0627;
			font-weight: bold;
			margin-bottom: 30px;
			padding-left: 5px;
		}

		#new-car .left-list .cathegory-list {
			padding:0px;
		}

			#new-car .left-list .cathegory-list .cathegory {
				display: block;
				background-color: #da0627;
				list-style: none;
				margin: 0px;
				text-transform: uppercase;
				color:white;
				font-size: 15px;
				width: 250px;
				margin-bottom: 10px;
				position:relative;
				line-height: 32px;
			

			}
				#new-car .left-list .cathegory-list .cathegory div {
					padding:0px 7px;
					background-image: url(../img/arrow-down.png);
					background-repeat: no-repeat;
					background-position: 95% 50%;
					
				}

				#new-car .left-list .cathegory-list .cathegory .down {
					padding:0px 7px;
					background-image: url(../img/arrow-up.png);
					background-repeat: no-repeat;
					background-position: 95% 50%;
					
				}

			#new-car .left-list .cathegory-list .cathegory:hover {
				cursor: pointer;
			}

				#new-car .left-list .cathegory-list .cathegory .arrows {
					background-image: url(../img/arrow-down.png);
					overflow: hidden;
					height: 16px;
					top: 10px;
					right: 1px;
					width: 19px;
					background-repeat: no-repeat;
					position:absolute;
				}

				#new-car .left-list .cathegory-list .cathegory .car-list {
					display: block;
					padding:5px;
					background-color: white;
					color:black;

				}

					#new-car .left-list .cathegory-list .cathegory .car-list li {
						list-style: none;
						margin-bottom: 5px;
						line-height: 20px;
					}

						#new-car .left-list .cathegory-list .cathegory .car-list li a {
							color:black;
							text-decoration: none;
						}

						#new-car .left-list .cathegory-list .cathegory .car-list li a:hover {
							padding-left:10px;
						}

	#new-car .car-desc {

	}

		#new-car .car-desc .title {
			color:#d9001b;
			margin-bottom: 24px;
			text-transform: uppercase;
		}

		#new-car .car-desc .car-big-btn {
			display:block;
			width:100%;
			height:40px;
			text-align: center;
			color:white;
			background-color: #da0627;
			text-transform: uppercase;
			font-size: 15px;
			padding:10px;
			text-decoration: none;
		}

		#new-car .car-desc .car-name {
			border-top: 1px solid #cccccc;
			width:100%;
			padding:10px 0px;
			text-transform: uppercase;
			color:#da0627;
		}

		#new-car .car-desc .car-image {
			height:335px;
			width:100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		#new-car .car-desc .desc {
			padding:20px 0px;
		}

		#new-car .car-desc .car-menu {

		}

			#new-car .car-desc .car-menu ul {
				padding:0px;
			}

				#new-car .car-desc .car-menu ul li {
					display:inline-block;
					font-size: 15px;
					height: 35px;
					width:100%;
					background-color:#d9001b;
					color:white;
					padding:6.5px;
					text-transform: uppercase;
					text-align: center;
					margin-left: 33.5px;
				}

					#new-car .car-desc .car-menu ul li a {
						color:white;
						text-decoration: none;
					}

				#new-car .car-desc .car-menu ul li:first-child {
					margin:0px;
					margin-bottom: 10px;
				}

				#new-car .car-desc .car-menu ul li:first-child:hover {
					cursor:pointer;
				}

		#new-car .car-desc .another-cars-title {
			padding-bottom:20px;
			color: #d9001b;
		}

		#new-car .car-desc .another-cars-list {
			margin:0px;
			margin-top:50px;
			padding:0px;
		}	

			#new-car .car-desc .another-cars-list .another-car {
				display: inline-block;
				width:184px;
				height:170px;
			}	

				#new-car .car-desc .another-cars-list .another-car .model {
					color:#727291;
					text-transform: uppercase;
					font-size: 15px;
				}

				#new-car .car-desc .another-cars-list .another-car .foto {
					height:100px;
					width:200px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					overflow: hidden;
				}

				#new-car .car-desc .another-cars-list .another-car .price {
					font-size: 15px;
					text-transform: uppercase;
					color:#d90e27;
				}

/*PARTS*/

#parts-top{
	margin-top:20px;
}

	#parts-top .parts-baner {
		height:219px;
		width:100%;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

		#parts-top .parts-baner .baner-stripe {
			height:120px;
			width:100%;
			top:23%;
			background-color: rgba(0,0,0, 0.6);
			position:absolute;
		}
			#parts-top .parts-baner .baner-stripe p {
				text-transform: uppercase;
				color:white;
				font-size: 28px;
				line-height: 120px;
				margin-left: 20px;

			}

#parts {
	margin-top:60px;
}

	#parts .left-list {

	}

		#parts .left-list .title {
			color: #292213;
			text-transform: uppercase;
			border-left: 2px solid #da0627;
			font-weight: bold;
			margin-bottom: 30px;
			padding-left: 5px;
		}

		#parts .left-list .cathegory-list {
			padding:0px;
		}

			#parts .left-list .cathegory-list .cathegory {
				display: block;
				background-color: #da0627;
				list-style: none;
				margin: 0px;
				text-transform: uppercase;
				color:white;
				font-size: 15px;
				width: 250px;
				margin-bottom: 10px;
				position:relative;
				line-height: 32px;
			

			}
				#parts .left-list .cathegory-list .cathegory div {
					padding:0px 7px;
					background-image: url(../img/arrow-down.png);
					background-repeat: no-repeat;
					background-position: 95% 50%;
					
				}

				#parts .left-list .cathegory-list .cathegory .down {
					padding:0px 7px;
					background-image: url(../img/arrow-up.png);
					background-repeat: no-repeat;
					background-position: 95% 50%;
					
				}

			#parts .left-list .cathegory-list .cathegory:hover {
				cursor: pointer;
			}

				#parts .left-list .cathegory-list .cathegory .arrows {
					background-image: url(../img/arrow-down.png);
					overflow: hidden;
					height: 16px;
					top: 10px;
					right: 1px;
					width: 19px;
					background-repeat: no-repeat;
					position:absolute;
				}

				#parts .left-list .cathegory-list .cathegory .parts-list {
					display: none;
					padding:5px;
					background-color: white;
					color:black;

				}

					#parts .left-list .cathegory-list .cathegory .parts-list li {
						list-style: none;
						margin-bottom: 5px;
						line-height: 20px;
					}

						#parts .left-list .cathegory-list .cathegory .parts-list li a {
							color:black;
							text-decoration: none;
						}

						#parts .left-list .cathegory-list .cathegory .parts-list li a:hover {
							padding-left:10px;
						}

#parts .parts-desc {

}

	#parts .parts-desc .parts-image {
		max-width:100%;
		height:250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	#parts .parts-desc .title {
		text-transform: uppercase;
		color:#d90e27;
		font-weight: bolder;
		margin:20px 0px;
	}

	#parts .parts-desc .desc {
		color:#423d33;
		font-size:14px;
	}

	#parts .parts-desc .btn-ask {
		background-color: #da0627;
		text-transform: uppercase;
		color: white;
		max-width: 100%;
		padding: 10px;
		text-align: center;
	}

	#parts .parts-desc a .btn-ask{
		color: white;
	}

	#parts .parts-desc a:hover {
		text-decoration: none;
	}

#search {
	border:1px solid #da0627;
	margin:20px 0px 15px 0px;
}

table tbody tr {
	display:none;
}

.parts-form {
margin-top:50px;
}

.parts-form .comment-label {
	vertical-align: top;
}


/*PARTS ASK*/
	.parts-form legend {
		font-size: 16px;
		color: #d9001b;
		text-transform: uppercase;
		border:0px;
	}
	
	.parts-form .legend2 {
		font-size: 16px;
		color: white;
		border:0px;
	}

	.parts-form form label {
		margin-bottom:0px;
		font-size: 11px;
		color:#606060;
		font-weight: lighter;
		width: 200px;
	}

	.parts-form form .wpcf7-radio input{
		width: 15px;
		height: 15px;
	}


	.parts-form form .zgoda1 input{
		width: 15px;
		height: 15px;
	}

	.parts-form form .zgoda2 input{
		width: 15px;
		height: 15px;
	}

	.parts-form form .wpcf7-submit {
		text-align: center;
		background-color: #d9001b;
		color:white;
		width:100px;
		margin-left: 525px;
	}

	.parts-form .btn-radio {
		width:50px;
	}
	
	.parts-form form .label2 {
		margin-bottom:0px;
		font-size: 16px;
		color:#d9001b;
		text-transform: uppercase;
		padding:40px 0px;
	}

	.parts-form form input {
		border:1px solid #c1c1c1;
		width:420px;
		height:35px;
		margin: 15px 0px;

	}

	.parts-form form textarea {
		width:420px;
		height:80px;
	}

	.parts-form form select {
		width:420px;
	}

	.parts-form form .politic {
		font-size:10px;
	}

	.parts-form .select-hour-date {
		width: 138px;
	}

	.parts-form .checkbox {
		width: 19px;
		height: 14px;
		display:inline;
	}

	.parts-form form .politic-checkbox {

	}

	.parts-form form .plus {
		background-image: url(../img/plus.png);
		background-repeat: no-repeat;
		background-position: center right;
		display:inline-block;
		width: 65%;

	}

	.parts-form form .plus:hover{
		background-image: url(../img/plus.png);
		background-repeat: no-repeat;
		background-position: center right;
		display:inline-block;
		width: 65%;
		cursor:pointer;
	}

	.parts-form form .submit {
		text-align: center;
		background-color: #d9001b;
		color:white;
		width:100px;
		margin-left: 350px;
	}

	.parts-form form .desc-form {
		font-size:10px;
		padding-left: 24px;
		padding-right: 170px;
	}


/*PAGE*/

.alignleft {
	float:left;
	margin: 15px 20px;
}

.alignright {
	float:right;
	margin: 15px 20px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

#top-baner {
	margin-top:20px;
	margin-bottom: 50px;
}
	
	#top-baner .baner {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height:219px;
		width:100%;
		position: relative;
	}

		#top-baner .baner-stripe {
			height:120px;
			width:100%;
			top:23%;
			background-color: rgba(0,0,0, 0.6);
			position:absolute;
		}

			#top-baner .baner-stripe .baner-text {
				text-transform: uppercase;
				color:white;
				font-size: 28px;
				line-height: 120px;
				margin-left: 20px;
			}		

/*ARCHIVE*/

#blog-menu {

}

	#blog-menu ul {
		margin:0px;
		padding:0px;
		margin-top:0px;
	}

		#blog-menu ul li {
			display: inline-block;
			color: white;
			background-color: #da0627;
			height:30px;
			width: 150px;
			text-transform: uppercase;
			text-align:center;
			line-height: 30px;
			margin-left: 2px;
		}

			#blog-menu ul li a{
				color:white;
			}
		
			#blog-menu ul li a:hover{
				color:white;
				text-decoration: none;
			}


#blog-list {
	margin-top:40px;
}		

#blog-list .archive-row{
	margin-bottom:50px;
}

	#blog-list .title {
		text-transform: uppercase;
		color:#da0627;
		border-left:2px solid #da0627;
		font-size:14px;
		padding-left:10px;
	}

	#blog-list .title a {
		color:#da0627;
	}

	#blog-list .title a:hover {
		text-decoration: none;
	}

	#blog-list .date {
		float:left;
		padding-left:10px;
		color:#606060;
		border-right:1px solid #cccccc;
		padding-right:10px;
		font-size:12px;
	}

	#blog-list .author {
		padding-left:10px;
		padding-right:10px;
		float:left;
		color:#da0627;
		font-size:12px;
	}

		#blog-list .author span {
			color:#606060;
		}

	#blog-list .content {
		clear:both;
		border-top:1px solid #cccccc;
		margin-top:25px;
		overflow: hidden;
	}

		#blog-list .content .image {
			width: 30%;
			height: auto;
			margin-top:30px;
			float:left;
			margin-right:20px;
		}

		#blog-list .content .image img {
			max-width: 100%;
			height: auto;
		}

		#blog-list .content .desc {
			margin-top:30px;
			text-align: justify;
		}

		#blog-list .content .more {
			background-color: #da0627;
			height:30px;
			width: 70px;
			float:right;
			color:white;
			text-align: center;
			padding:5px;
		}

		#blog-list .content .more:hover {
			text-decoration: none;
			color:white;
		}

		.navi{
			text-align: center;
		}

/*KONTAKT*/

.contact .comment-label {
	vertical-align: top;
}

	.contact legend {
		border-left:2px solid #d9001b;
		padding-left: 10px;
		margin-bottom: 40px;
		margin-top: 0px;
		font-size: 14px;
		border-bottom: 0px;
	}
	
	.contact .legend2 {
		font-size: 16px;
		color: white;
		border:0px;
	}

	.contact form label {
		margin-bottom:0px;
		font-size: 11px;
		color:#606060;
		font-weight: lighter;
		width: 200px;
	}

	.contact form input {
		border:1px solid #c1c1c1;
		width:420px;
		height:35px;
		margin: 0px 0px 15px 0px; 

	}

	.contact form textarea {
		border:1px solid #c1c1c1;
		width:420px;
		height:80px;
	}

	.contact form .submit {
		text-align: center;
		background-color: #d9001b;
		color:white;
		width:100px;
		margin-left: 350px;
	}
	.eu-grand{
		margin: 60px 0 0 0;
	}
	.eu-grand img {
		margin: 0 auto 60px auto;
		display: block;
	}
	.eu-grand .eu-title{
		text-align: center;
	}
	.eu-grand .eu-grand-data{
		width:50%;
		margin: 30px auto 0 auto;
	}
	.eu-grand .eu-grand-data tr{
		display: table-row!important;
	}
	.eu-grand .eu-grand-data tr td{
		padding: 10px 0;

	}


/*RESPONSIVE MENU*/

#responsive-menu {
	height:500px;
}
 
@media screen and (max-width:980px) {
	 /* #menu-main-menu is the original menu */
 	#menu-moje-menu {
		display:none;
	 }
	
	 .slicknav_menu {
		display:block;
	 }
	#header .number{
		display:none;
	} 
}

.car-desc .another-car .foto{
	z-index:-1;
	transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.car-desc .another-car:hover .foto{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

