.popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.8);
      opacity:0;
    z-index:-1;
    transition:opacity 0.3s ease-in-out;
  &.show-content{
    opacity:1;
    z-index:9999;
    transition:opacity 0.3s ease-in-out;
  }
  &.hide-content{
    opacity:0;
    z-index:9999;
    transition:opacity 0.3s ease-in-out;
  }
  .popup-content-wrapper{
    max-height:calc(100vh - 100px);
    height:auto;
    overflow:auto;
  }
  .popup-content{
    max-width:calc(100vw - 100px);
    max-width: 560px !important;
    width: 100%;
    height:auto;
    top:50%;
    left:50%;
    // width: calc(100% - 50px);
    margin:0px -25px -25px 0px;
    position:absolute;
    
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
    background-color: #fff;     padding:10px;     transform:translate(-50%,-50%);
    .video {
      text-align: center;
      iframe {
        margin: 0 auto !important;
      }
    }
    *{
      width:100%;
      height:auto;
    }
    .popup-close{
      color:#fff;
      border-radius:50%;
      background-color:#000;
      top:-15px;
      right:-15px;
      width:auto;
      position:absolute;
      padding: 3px 8px;
      border:2px solid #fff;
      cursor:pointer;
      height: 35px;
      width: 35px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
      &:after{
        content: "";
        background-image: url('//cdn2.hubspot.net/hubfs/486307/close.png');
        width: 14px;
        height: 14px;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top:8px;
        left:9px;
      }
    }
  }
}

.meet-the-team {
    h2 {
        font-size: 40px;
        font-family: $font_family;
        color: hubl("$bg_color_2");
        line-height: 1;
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.04em;
        margin-top: 40px;
        margin-bottom: 30px;
        span {
            color: hubl("$cta_background");
            letter-spacing: 3px;
        }
        text-transform: none;
    }
    p {
      color: #626262;
    }
    .people-wrapper {
        margin: -8px 0 30px 0;
        .hs_cos_wrapper_type_rich_text {
            font-size: 18px;
            font-weight: 300;
            color: hubl("$main_font_color");
           /* p,
            span {
                @extend .hs_cos_wrapper_type_rich_text;
            }*/
        }
    }
    .description {
        float: none;
        margin: 0 auto 53px auto;
        width: 80%;
        margin-left: auto!important;
    }
}
