
.equal-content {
	.equal-border{
	width: 95%;
	height: 1px;
	background-color: #f7f7f7;
	margin: 30px auto 53px auto;
	}
}


.equal-row {
	margin: 0 auto;
	.right-img{
		padding: 0;
		text-align: right;
		
	}
	
	.left-img{
		padding: 0;
		text-align: left;

	}
}
.equal-text-right{
	padding-left: 20px;

}
.equal-text-left{
	padding-right: 20px;

}
@media only screen and (max-width : 768px) {
	.equal-row {
		.img-wrap-basic{
			padding: 0;
			text-align: center;
			margin-right: 15px;
			
		}
		
	}

	.two-column-equal {
		.left-column {
			margin-bottom: 50px;

			.widget-type-cta {
				text-align: center;
			}
		}
	}
}

.two-column-equal {
    padding-right: 0px;  
}
