/* Slick Slider */

/* Slick Slider */
.landing-video-v4{
$color_1: #ffc400;
$color_2: #fff;
$color_3: #FFF;
$color_4: #626262;
$font_family_1: 'Palanquin', sans-serif;
$background_color_1: #fff;
$background_color_2: #ffc400;

/*----- Top Section -----*/
/*SERVICE SECTION*/
/*TESTIMONIALS*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    .slick-track {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    &:before {
        display: table;
        content: '';
    }
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}
.slick-dots {
    bottom: -40px;
    width: 100%;
    li {
        button {
            &:before {
                font-size: 40px;
                color: $color_1;
                transition: opacity .3s linear;
            }
        }
        margin: 0px;
    }
}
.slick-loading {
    .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        visibility: hidden;
    }
}
.slick-slide {
    outline: none;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
    }
}
[dir='rtl'] {
    .slick-slide {
        float: right;
    }
}
.slick-slide.slick-loading {
    img {
        display: none;
    }
}
.slick-slide.dragging {
    img {
        pointer-events: none;
    }
}
.slick-initialized {
    .slick-slide {
        display: block;
    }
}
.slick-vertical {
    .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.body-container-wrapper {  

    .row-fluid { 

        .wrapper {
            box-sizing: border-box;
            width: 100%;
            float: none !important;
            display: block;
            margin: 0 auto !important;
            max-width: 1170px;
            padding: 0 15px;
        }
        .set-bg {
            background-size: cover !important;
            background-position: center;
            position: relative;
            color: $color_2;
        }
        .get-bg {
            display: none !important;
        }
        .fullwidth {
            float: left;
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
            border: none;
        }
        a {
            outline: none;
            border: none;
            text-decoration: none;
            cursor: pointer;
            // color: hubl("$first_color");
            vertical-align: top;
            white-space: none;
            transition: ease all 0.4s;
        }
        p {
            margin: 10px 0;
            color: #4a4949;
        }
        input {
            border: none;
            outline: none;
            border-radius: 0;
            font-family: $font_family_1;
            height: 40px;
            padding: 0 10px;
            line-height: 40px;
            border: none;
        }
        select {
            border: none;
            outline: none;
            border-radius: 0;
            font-family: $font_family_1;
            height: 40px;
            padding: 0 10px;
            line-height: 40px;
            border: none;
        }
        textarea {
            border: none;
            outline: none;
            border-radius: 0;
            font-family: $font_family_1;
            height: 40px;
            padding: 0 10px;
            line-height: 40px;
            border: none;
            height: 100px;
            line-height: 28px;
        }
        input[type=submit] {
            cursor: pointer;
            border-radius: 0;
            background: url('//cdn2.hubspot.net/hubfs/1811333/suitecase_theme/images/blank.png');
            color: $color_2;
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: ease all 0.4s;
            border: none;
        }
        .hs-button {
            cursor: pointer;
            border-radius: 0;
            background: url('//cdn2.hubspot.net/hubfs/1811333/suitecase_theme/images/blank.png');
            color: $color_2;
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: ease all 0.4s;
            border: none;
        }
        .btn-design1 {
            a {
                font-size: 16px;
                background: #ffc400;
                color: $color_3;
                padding: 10px 20px;
                display: inline-block;
                line-height: 22px;
                min-width: 155px;
                box-sizing: border-box !important;
                border-radius: 5px;
                text-transform: uppercase;
                text-align: center;
                &:hover {
                    background: #626262;
                }
            }
        }
        a.btn-design1 {
            font-size: 16px;
            background: #ffc400;
            color: $color_3;
            padding: 10px 20px;
            display: inline-block;
            line-height: 22px;
            min-width: 155px;
            box-sizing: border-box !important;
            border-radius: 5px;
            text-transform: uppercase;
            text-align: center;
            &:hover {
                background: #626262;
            }
        }
        [class*="span"] {
            min-height: 0;
        }
        .hs-error-msgs {
            text-align: left;
            padding: 0px;
            list-style: none;
            font-size: 13px;
        }
        .top-section {
            position: relative;
            padding: 15px 0;
            box-shadow: #ddd 0 2px 2px;
            img {
                margin-top: 12px;
            }
            .cta_button {
                float: right;
            }
        }
        .hero-section {
            padding: 130px 0 45px;
            background: #fff;
            background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/landing%20video/landing-video-pattern_03.png');
            background-repeat: repeat;
        }
        .video-code {
            >div {
                >span {
                    float: left;
                    width: 100%;
                    padding-top: 56.25%;
                    overflow: hidden;
                    position: relative;
                }
            }
            iframe {
                width: 100% !important;
                height: 100% !important;
                left: 0;
                top: 0;
                position: absolute;
            }
        }
        .video-title {
            background: #f9f9f9;
            padding: 10px 20px 5px;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            h5 {
                font-size: 21px;
                padding-bottom: 0;
                margin: 0px;
                font-weight: 400;
            }
            p {
                margin: 0px;
                font-weight: 300;
            }
        }
        .change-url {
            display: none;
        }
        .hero-form {
            background: #f9f9f9;
            padding: 30px;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
            .hs-form-required {
                display: none;
            }
            .form-title {
                display: inline-block;
                font-weight: 700;
                padding: 0 0 20px;
                margin: 0;
                color: hubl("$main_font_color");
                font-size: 30px;
                span {
                    color: hubl("$cta_background");
                    letter-spacing: 0.04em;
                }
            }
            .field {
                margin-bottom: 20px;
            }
            input[type=text] {
                padding: 15px;
                height: 54px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                background-color: $background_color_1;
                margin-top: 0px;
                color: $color_4;
            }
            input[type="checkbox"].hs-input + span:before{
                height:10px;
            }
            select{
                padding: 15px;
                height: 54px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                background-color: $background_color_1;
                margin-top: 0px;
                color: $color_4;
                padding-top: 7px!important;

            }
            input[type=email] {
                padding: 15px;
                height: 54px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                background-color: $background_color_1;
                margin-top: 0px;
                color: $color_4;
            }
            input[type=tel] {
                padding: 15px;
                height: 54px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                background-color: $background_color_1;
                margin-top: 0px;
                color: $color_4;
            }
            input[type=number] {
                padding: 15px;
                height: 54px;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 300;
                background-color: $background_color_1;
                margin-top: 0px;
                color: $color_4;
            }
            .hs-form-field{
                text-align:left;
                color:#626262;
                label{
                    span{
                        color:#626262;
                    }
                }
            }
            input[type=submit] {
                @extend .cta-primary;
                height: 54px;
                width: 100%;
                line-height: 1;

            }
        }
    }

}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.hero-form {
    ul {
        li {
            color: $color_4;
            font-size: 16px;
            padding-left: 5px;
            line-height: 24px;
            a {
                color: $color_4;
                font-size: 16px;
                padding-left: 5px;
                line-height: 24px;
            }
        }
    }
}
.service-section {
    background: hubl("$cta_hover_background");
    padding: 60px 0;
    text-align: center;
    color: $color_3;
    h4 {
        font-size: 24px;
        color: #4a4949;
        text-transform: uppercase;
    }
}
.service-boxes {
    .hs_cos_wrapper_type_custom_widget {
        float: none;
        display: inline-block;
        width: 33.33%;
        margin-left: -4px;
        padding: 20px 30px;
        vertical-align: top;
    }
}
.service-icon {
    position: relative;
    float: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
.testimonial-section {
    padding: 50px 0 80px;
    position: relative;
    h2 {
        position: relative;
        color: $color_3;
        float: none;
        display: inline-block;
        margin-bottom: 35px;
        text-transform: none;
        font-size: 40px;
        font-weight: 400;
        span {
            color: $color_1;
            letter-spacing: 0.04em;
        }
    }
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.14);
    }
    .slick-slider {
        position: relative;
    }
    .slick-slide {
        transition: ease all 0.4s;
        transform: scale(0.8);
    }
    .slick-slide.slick-current {
        transform: scale(0.94);
    }
    .testimonial-box {
        padding: 0 10px;
        &:before {
            z-index: 9;
            background: url('//cdn2.hubspot.net/hubfs/2718243/Sodium/quote.png') left top no-repeat;
            position: absolute;
            content: '';
            left: -8px;
            top: -7px;
            width: 36px;
            height: 36px;
            background-size: contain;
        }
    }
    .message {
        color: $color_4;
        background: #FFF;
        border-radius: 5px;
        padding: 20px 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        position: relative;
        box-shadow: 5px 5px 0px #ffc400;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -15px;
            border-left: transparent solid 15px;
            border-right: transparent solid 15px;
            border-top: #FFF solid 20px;
            width: 30px;
            height: 15px;
            box-sizing: border-box;
        }
        &:after {
            position: absolute;
            content: '';
            left: 13px;
            right: 0;
            margin: 0 auto;
            bottom: -16px;
            border-left: transparent solid 15px;
            border-right: transparent solid 15px;
            border-top: #FFC400 solid 20px;
            width: 30px;
            height: 15px;
            box-sizing: border-box;
            z-index: -1;
        }
    }
    .slick-arrow {
        outline: none;
        display: inline-block;
        background: transparent;
        border: none;
        color: $color_3;
        font-size: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-prev {
        right: auto;
    }
}
.testimonial-box {
    p {
        font-size: 18px;
        line-height: 24px;
    }
}
.testi-box {
    min-height: 65px;
    padding: 3px 0 0 80px;
    position: relative;
    margin-top: 20px;
    float: none;
    display: inline-block;
    text-align: left;
    .testi-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 65px;
        height: 65px;
        border: #ffc400 solid 3px;
        border-radius: 50%;
        background: #ffc400;
    }
    h6 {
        color: $color_3;
        font-size: 18px;
        font-weight: 400;
        span {
            float: left;
            width: 100%;
            font-size: 14px;
            font-weight: 300;
        }
    }
}
@media (min-width: 992px) and (max-width: 1240px) {
    .row-fluid {
        .wrapper {
            max-width: 900px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .row-fluid {
        .wrapper {
            max-width: 700px;
        }
        .hero-left {
            width: 100%;
        }
        .hero-form {
            width: 100%;
            margin: 40px 0 10px;
        }
        .testimonial-section {
            .slick-slide {
                transform: scale(0.94) !important;
            }
        }
        .service-boxes {
            .hs_cos_wrapper_type_custom_widget {
                padding: 10px;
            }
        }
    }
}
@media (min-width: 30px) and (max-width: 767px) {
    .row-fluid {
        .wrapper {
            max-width: 100%;
        }
        .top-section {
            text-align: center;
            img {
                margin: 0 0 10px;
            }
            .cta_button {
                float: none;
                display: inline-block;
                margin-top: 10px;
            }
        }
        .hero-form {
            width: 100%;
            margin: 40px 0 10px;
        }
        .service-section {
            padding: 30px 0;
        }
        .service-boxes {
            .hs_cos_wrapper_type_custom_widget {
                margin: 0;
                width: 100%;
                padding: 20px 0;
            }
        }
        .testimonial-section {
            padding: 30px 0;
            .slick-slide {
                transform: scale(0.94) !important;
            }
            h2 {
                font-size: 32px;
            }
        }
    }
}

}


