.resources{
	section.header-section{

		background-color: #3d97cd;
		margin-top: 70px;
		.span12{
			float:none;
		}
		>.container .row-fluid{

			float:none;
			justify-content:center;
			alings-items:center;

		}
		h1{
			margin-top:40px;
			margin-bottom:44px;
			color:#fff;
			font-weight:400;
		}
	}
	section.resources-filter{
		margin-top: 62px;
		margin-bottom: 62px;
		label{
			font-size:24px;
			color: #626262;
			word-wrap: normal;
			word-break: normal;
			white-space: nowrap;
		}
		.filters{
			display:inline-block;
			width: 470px;
			@media (max-width: 650px){
				margin-top: 10px;
				max-width:100%;
				width:100%;
			}
		}
		select{
			display:inline-block;
			max-width: 190px;
			width: 100%;
			background-color: #f5f5f5;
			background-image:url('https://cdn2.hubspot.net/hubfs/486307/Icons/Services/select-arrow-1.png');
			background-repeat:no-repeat;
			background-position: calc(100% - 12px) center;
			color: #626262;
			font-size:15px;
			-webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
			border-radius:0px;
			border:0px;
			// font-weight: 300;
			padding:18px 30px 18px 12px;
			outline:0;
			position:relative;
			margin-left:39px;
			margin-bottom:10px;
			margin-top:10px;
			@media (max-width: 650px){
				margin: 10px 0;
				max-width:calc(100%);
			}
			&::-ms-expand {
			    display: none;
			}

		}
		.filter{
			display:flex;
			justify-content:center;
			align-items:center;
			@media (max-width: 650px) {
				display: block;
				text-align: center;
		    }
		}
	}
	div.blog-listing{
		display:flex;
		flex-wrap:wrap;
		margin-bottom:50px;
		@media ( max-width: 991px ){
			flex-wrap:no-wrap;
			justify-content:center;
		}
	}
	.ebook-resource{
		width:50%;
		padding:0px 15px 10px 15px;
		overflow:hidden;
		margin-bottom:30px;
		display:flex;
		@media ( max-width: 991px ){
			max-width:100%;
			width:100%;
			padding:0px;
		}
		.span2{
			transition:all 0.3s ease-in-out;
			width:auto;
			min-width:187px;
			img{
				max-width:187px;
				width:100%;
				height:auto;
				box-shadow:4px 4px 10px #e1e1e1;
				transition:all 0.3s ease-in-out;
			}
		}
		.span10{
			width:auto;
		    margin-left: 30px;
			transition:all 0.3s ease-in-out;
			h2{
				text-align:left;
				margin:0px;
				margin-top:-3px;
				padding:0px;
				margin-bottom:20px;
				font-size:24px;
				color:#3d97cd;
				span{
					font-size:24px;
					color:#3d97cd;

				}
			}
			div.content{
				color: #626262;
				font-size:16px;
				line-height:24px;
				transition:all 0.3s ease-in-out;
				p{
					font-size:16px;
					line-height:24px;

				}
			}
			.cta_button{

			}

		}
	}
	.publication-resource{
		width:100%;
		padding:0px;
		overflow:hidden;
		margin-bottom:50px;
		display:flex;
		padding-bottom:50px;
		border-bottom: 1px solid #ebebeb;
		@media (max-width:700px){
			flex-wrap:wrap;
		}
		.span2{
			transition:all 0.3s ease-in-out;
			width:178px;
			min-width:178px;
			@media (max-width:700px){
				min-width:100%;
				width:100%;
				margin-bottom:40px;
			}
			img{
				max-width:140px;
				width:100%;
				margin-top:55px;
				height:auto;
				transition:all 0.3s ease-in-out;
				@media (max-width:700px){
					margin-top:0px;
				}
			}
		}
		.span10{
			width:auto;
		    margin-left: 30px;
			transition:all 0.3s ease-in-out;
			@media (max-width:700px){
				margin-left:0px;
				width:100%;
			}
			h2{
				text-align:left;
				margin:0px;
				margin-top:-3px;
				padding:0px;
				margin-bottom:18px;
				font-size:24px;
				// font-weight:600;
				font-weight: 200;
				line-height:32px;
				color:#3d97cd;
				span{
					font-size:24px;
					color:#3d97cd;
					// font-weight:600;
					font-weight: 200;
					line-height:32px;

				}
			}
			div.authors{
				font-size:18px;
					line-height:24px;
					font-weight:400;
				color:#393939;
				margin-bottom:20px;
				span{
					font-size:18px;
					font-weight:400;
					line-height:24px;
					color:#393939;

				}
			}
			div.publication-name{
				font-size:18px;
					line-height:24px;
					font-weight:400;
				color:#393939;
				margin-bottom:0px;
				span{
					font-size:18px;
					font-weight:400;
					line-height:24px;
					color:#393939;

				}

			}
div.publication-date{
				font-size:18px;
					line-height:24px;
					font-weight:400;
				color:#393939;
				margin-bottom:10px;
				span{
					font-size:18px;
					font-weight:400;
					line-height:24px;
					color:#393939;

				}

			}
			div.content{
				color: #626262;
				font-size:18px;
				line-height:24px;
				transition:all 0.3s ease-in-out;
				p{
					font-size:18px;
					line-height:24px;

				}
			}
			.hs-cta-wrapper{
				margin-top:30px;
				height:52px;
				display:block;
			}

		}
	}
	.video-popup-module{
		width:33%;
		padding:0px 15px 10px 15px;
		>.placeholder{
			>p{
				font-size:18px;
				line-height:24px;
			}
		}
		h2{
			font-size:26px;
			line-height:32px;
			margin-bottom:28px;
		}
		@media ( max-width: 1024px ){
			width:50%;
		}
		@media ( max-width: 700px ){
			width:100%;
			padding:0px;
		}
	}
	.cta-resources-section{
        min-height:306px;
        width:100%;
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        position: relative;
    	display: flex;
    	align-items:center;
    	justify-content:center;
        .mask{
        	top:0;
        	left:0;
        	width:100%;
        	height:100%;
        	position:absolute;
        	background-color: rgba(0,0,0,0.31);
        }
        .container{
        	position:relative;
			padding:73px 15px;
			margin:0;
        	h3{
        		text-align:center;
		       		margin-top:0px;
        		span{
        			color:#fff;
		       		font-size:46px;
		       		font-weight:400;
        		}
        	}
		    .cta_button{
	     		display:block!important;
	     		margin:45px auto 0px auto;
	        }
        }
    }
}


@media (max-width: 480px) {
	.resources {

		.ebook-resource {
			display: block;

			.span2 {
				text-align: center;
				margin-bottom: 20px;

				img {
					width: 100%;
				}
			}

			.span10 {
				margin-bottom: 20px;
				margin-left: 0;
			}
		}

	}
}