.blog-email-subscription {
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	flex-direction: row;
	text-align: center;
	padding: 60px 0 80px 0;
	background-color: hubl("$bg_color_2");
	overflow: hidden;

	.container {
		position: relative;
	}

	.hs-form  {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
		@media screen and (max-width: 1000px) {
			flex-direction: column;
		}
	}
	h3 {
		margin-top: 0;
		font-weight: 300;
		color: white;
		margin-bottom: 50px;
		font-size: 40px;
		letter-spacing: 0.04em;
	}
	.hs_email {
		display: flex;
		flex-flow: row nowrap;
		color: white;
		position: relative;

		.hs-form-required {
			display: none;
		}

		@media screen and (max-width: 600px) {
			flex-flow: column wrap;
			justify-content: center;
		}
	}

	input[type="submit"] {
		@extend .cta-primary;

		@media screen and (max-width: 1000px) {
			margin-top: 30px;
		}
		@media screen and (max-width: 480px) {
			margin-top: 30px;
		}

	}


	input[type="email"] {
		font-size: 16px;
		width: 595px;
		color: #fff;
		background: rgba(#f6f5f3, .1);
		border: 1px solid rgba(white, .5);
		border-radius: 2px;
		margin: 0 30px 0 0;
		padding: 11px 10px;
		height: 100%;
		&::-webkit-input-placeholder {
    color: rgb(230,230,230);
		}
		&:-moz-placeholder {
		   color: rgb(230,230,230);
		   opacity:  1;
		}
		&::-moz-placeholder {
		   color: rgb(230,230,230);
		   opacity:  1;
		}
		&:-ms-input-placeholder {
		   color: rgb(230,230,230);
		}
		@media screen and (max-width: 1000px) {
			width: 350px;
			margin-right: 0;
		}
		@media screen and (max-width: 480px) {
			width: 280px;
		}
	}
	label {
		margin-right: 10px;
		color: white;
		@media screen and (max-width: 1000px) {
			margin-right: 0px;
		}
	}
	.hs-error-msgs {
		position: absolute;
		bottom: -25px;
		list-style: none;
		left: 10px;
		@media screen and (max-width: 1000px) {
			left: 0;
		}
		a{
			color: #fff;
			font-size: 18px;
		}
		label {
			font-size: 16px;
		}
	}

	.subscription-arrow__container {
		    position: absolute;
		    top: -50px;
		    display: block;
		    right: -150px;
		    @media screen and (max-width: 1000px) {
		    	position: absolute;
			    top: 330%;
			    display: block;
			    right: 87%;
		    }

		    @media screen and (max-width: 600px) {
		    	display: none;
		    }
			&:after{
				display: block;
			    content: 'Start now with one click!';
			    position: absolute;
			    top: -15px;
			    width: 201px;
			    left: 5px;
			    color: white;
			    font-weight: 300;
			    font-size: 16px;
			    @media screen and (max-width: 1000px) {
			    	left: -35px;
			    	top: -20px;
			    }

			}
		.subscription-arrow {
			@media screen and (max-width: 1000px) {
				    transform: rotate(-140deg);
				    position: relative;
				    top: -36px;
				    left: 314%;
			}
		}
	}
}


