.brands-slider {
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    position: relative;
    &__section {
        background: hubl("$first_color");
    }
    .slick-prev {
        left: 60px;
    }
    .slick-next {
        right: 60px;
    }
    .slick-slide img {
        margin: 0 auto;
    }
    .slick-list {
        margin-left: 80px;
        margin-right: 80px;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: auto;
        height: auto;
        transform: translateY(-50%);
        z-index: 1;
        margin-top: 0px;
        &.slick-prev {
            left: 48px;
            &:before {
                content: '';
                background-image: url('//cdn2.hubspot.net/hubfs/486307/arrow-black-left.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 58px;
                display: block;
            }
        }
        &.slick-next {
            right: 48px;
            &:before {
                content: '';
                background-image: url('//cdn2.hubspot.net/hubfs/486307/arrow-black-left.png');
                background-repeat: no-repeat;
                background-size: cover;
                transform: scaleX(-1);
                width: 30px;
                height: 58px;
                display: block;
            }
        }
    }
    .slick-dots {
        bottom: 0px;
        left: 0;
        width: 100%;
        list-style: none;
        text-align: center;
        li {
            button:before {
                font-size: 26px;
            }
            &.slick-active {
                button:before {
                    color: #fff;
                }
            }
        }
    }
}

.video-container-wrapper {
    padding: 50px 0;
    .video-container {
        max-width: 770px !important;
        height: auto;
        margin: 0 auto; // @media (max-width: 1400px) {
        //     max-width: 350px;
        // }
        // @media (max-width: 1200px) {
        //     max-width: 300px;
        // }
        // @media (max-width: 1050px) {
        //     max-width: 250px;
        // }
        // @media (max-width: 992px) {
        //     max-width: 515px;
        //     padding: 20px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        // }
        iframe {
            max-width: 100% !important;
            max-height: 100% !important;
        }
    }
    .slick-track {
        padding: 30px 0;
    }
    .slick-prev {
        left: 60px;
    }
    .slick-next {
        right: 60px;
    }
    .slick-slide img {
        margin: 0 auto;
    }
    .slick-list {
        margin-left: 80px;
        margin-right: 80px;
        @media (max-width: 991px) {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    .slick-slide {
        // transition: .3s transform, opacity linear;
        // z-index: 9;
        position: relative; // transform: scale(0.9);
        &.active-slide {
            // &.slick-current {
            @media (min-width: 992px) {
                // transform: scale(1);
                // max-width: 444px;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: auto;
        height: auto;
        transform: translateY(-50%);
        z-index: 1;
        margin-top: 0px;
        @media (max-width: 767px) {
            top: 40% !important;
        }
        &.slick-prev {
            left: 48px;
            &:before {
                content: '';
                background-image: url('//cdn2.hubspot.net/hubfs/486307/arrow-black-left.png');
                background-repeat: no-repeat;
                background-size: cover;
                width: 30px;
                height: 58px;
                display: block;
            }
        }
        &.slick-next {
            right: 48px;
            &:before {
                content: '';
                background-image: url('//cdn2.hubspot.net/hubfs/486307/arrow-black-left.png');
                background-repeat: no-repeat;
                background-size: cover;
                transform: scaleX(-1);
                width: 30px;
                height: 58px;
                display: block;
            }
        }
        @media (max-width: 991px) {
            &.slick-prev {
                left: 10px;
            }
            &.slick-next {
                right: 10px;
            }
        }
    }
    .slick-dots {
        bottom: -45px;
        left: 0;
        width: 100%;
        list-style: none;
        text-align: center;
        @media (max-width: 991px) {
            bottom: 10% !important;
        }
        @media (max-width:500px) {
            bottom: 50px !important;;
        }
        // @media (max-width:450px) {
        //     bottom: 40px;
        // }
        li {
            button:before {
                font-size: 26px;
            }
            &.slick-active {
                button:before {
                    color: #fff;
                }
            }
        }
    }
    .slick-dots li.slick-active button:before {
        color: rgb(0, 0, 0) !important;
    }
}