.gif-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
	iframe{
		max-width: 100%;
		display: block;
	}
    .description {
		
		margin: 0px auto;
		p{
			display: block;
			font-size: 13px;
			padding: 10px;
			margin: 0px;
		}
    }
}
