section.question {
    counter-reset: sekcja;
}

.faq-box {
    border-bottom: 1px solid #ebebeb;
    h4.panel-title {
        padding-left: 40px;
        position: relative;
        &:before {
            counter-increment: sekcja;
            content: counter(sekcja);
            color: hubl("$cta_background");
            font-size: 26px;
            font-weight: 600;
            position: absolute;
            display: block;
            left: 0;
            top: -4px;
        }
        a {
            color: hubl("$main_font_color");
            text-decoration: none;
            font-size: 20px;
            display: block;
            position: relative;
            padding-right: 30px;
            &:after {
                content: "";
                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/hide.png');
                position: absolute;
                height: 21px;
                width: 21px;
                right: 0;
                top: 0;
                display: block;
            }
            &.collapsed {
                &:after {
                    content: "";
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/show.png');
                    position: absolute;
                    height: 21px;
                    width: 21px;
                    right: 0;
                    top: 0;
                    display: block;
                }
            }
        }
    }
    .panel-collapse {
        transition: all ease-in-out 0.3s;
        overflow: hidden;
        &.collapse {}
    }
    .panel-body {
        color: hubl("$main_font_color");
        font-size: 18px;
        margin-bottom: 20px;
        padding-left: 40px;
        a:not(.cta_button) {
            color: #3d9c2d;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.widget-type-rich_text {
    a:not(.cta_button){
        color: #3d9c2d;
        &:hover {
            text-decoration: underline;
        }
    }
}