.feature-yolk-box {
	width: 33.33%;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

	&__image {
		img {
			max-width: 102px;
			max-height: 102px;
		}
	}

	&__header {
		font-size: 24px;
		font-weight: 500;
		color: hubl("$bg_color_4");
		text-transform: uppercase;
	}

	&__description {
		font-size: 16px;
		font-weight: 200;
		color: hubl("$bg_color_5");
		a:not(.cta_button) {
			color: #3d9c2d !important;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.moz-ff {
	.feature-yolk-box {
		&__description {
			a {
				text-decoration: none;			
				strong {
					font-weight: 600;
				}
			}
		}
	}
}


@media (max-width : 768px) {
	.feature-yolk-box {
		float: none;
		width: 100%;
		max-width: 300px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}

}