.hero-banner-landing-basic-2 {
    min-height: 695px;
    margin-top: 70px;
    position: relative;
    background-size: cover !important;
    .opacity-bg {
        // background: hubl_rgba("$first_color", 0.55);
        background: rgba(70, 151, 203, 0.55);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        flex-wrap: nowrap;
        @media(max-width: 800px) {
            flex-wrap: wrap;
        }
        .hero-banner-wrap {
            z-index: 1;
            text-align: left;
            -webkit-box-flex: 1.2;
            -webkit-flex-grow: 1.2;
            -moz-box-flex: 1.2;
            -ms-flex-positive: 1.2;
            flex-grow: 1.2;
            max-width: 630px;
            width: 60%;
            margin-right: 20px;
            @media (max-width: 800px) {
                width: 100%;
                margin: 0 20px;
            }
            h1 {
                text-transform: none;
                text-align: left;
                font-weight: 300;
                color: #fff;
                font-size: 50px;
                span {
                    letter-spacing: 3px;
                }
            }
            h2 {
                font-size: 30px;
                line-height: 125%;
                padding: 15px 0;
                font-weight: 200;
                color: #fff;
                text-transform: none;
                text-align: left;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                font-weight: 200;
                max-width: 600px;
                color: #fff;
                margin-bottom: 40px;
            }
            ul li {
                list-style-type: none;
                float: left;
                text-align: center;
                margin-right: 10px;
            }
        }
    }
    .form-placeholder {
        margin-left: auto;
        -webkit-box-flex: 0.8;
        -webkit-flex-grow: 0.8;
        -moz-box-flex: 0.8;
        -ms-flex-positive: 0.8;
        flex-grow: 0.8;
        max-width: 430px;
        .hero-banner-form {
            z-index: 1;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0 30px;
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                }
            }
            h3 {
                font-family: hubl("$font");
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: hubl("$main_font_color");
                text-align: center;
                padding-top: 20px;
                position: relative;
                span {
                    color: hubl("$cta_background");
                    margin-left: 2px;
                    position: relative;
                    letter-spacing: 3px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                color: hubl("$main_font_color");
                .hs-form-required {
                    display: none;
                }
                input {
                    border: none;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    background-color: #ffffff;
                }
                .hs-input {
                    font-size: 18px;
                    font-family: hubl("$font");
                    font-weight: 200;
                    height: 55px;
                    border: none;
                    padding-left: 13px;
                    color: hubl("$main_font_color");
                }
            }
            .hs_dropdown_example {
                background: white;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                padding: 0 6px;
            }
            textarea {
                border-radius: 4px;
            }
            .hs-form-checkbox-display span {
                color: hubl("$main_font_color")
            }
            select {
                color: rgba(98, 98, 98, 0.6);
                background-color: #fff;
                outline: none;
            }
            .hs-button.primary.large {
                @extend .cta-primary;
                min-height: 27px;
                min-width: 134px;
                padding-top: 20px;
                padding-bottom: 20px;
                font: 300 22px / 22px hubl("$font");
                margin-bottom: 20px;
                width: 100%;
                /*
        cursor: pointer;
        background-color: $mainColor;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px solid $mainColor;
        min-height: 27px;
        min-width: 134px;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #ffffff;
        font: 300 22px / 22px Palanquin;
        -webkit-transition: linear 0.3s all;
        -o-transition: linear 0.3s all;
        -moz-transition: linear 0.3s all;
        transition: linear 0.3s all;
        margin-bottom: 20px;
        &:hover {
          background-color: white;
          color: $mainColor;
          border-color: $mainColor;
        }*/
            }
        }
    }
}