.history-timeline {
    .slick-slider {
        margin: 0;
    }
    background-color: hubl("$first_color");
    padding: 25px 0px;
    //padding-bottom: 100px;
    .center-text {
        text-align: center;
    }
    h2 {
        text-align: center;
        margin-top: 25px;
        font-weight: 600;
        color: #fff;
        font-weight: 200;
        font-size: 40px;
        span {
            letter-spacing: 3px;
        }
    }
    h3 {
        text-align: center;
        margin: 15px 0px 50px 0px;
        font-weight: normal;
        color: hubl("$main_font_color");
    }
    .wrapper-history {
        text-align: center;
    }
    p {
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 200;
    }
    a {
        display: inline-block;
        color: hubl("$cta_color");
        background-color: transparent;
        margin-top: 55px;
        padding: 10px;
        text-decoration: none!important;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
        border: solid 2px hubl("$cta_hover_background");
        &:hover {
            background-color: hubl("$cta_hover_background");
            border-color: hubl("$cta_hover_background");
            color: hubl("$cta_hover_color");
            text-decoration: none;
        }
    }
    .slick-year {
        .slick-slide {
            cursor: pointer;
        }
    }
    .center-slide {
        height: 104px;
    }
    .slide {
        text-align: center;
        min-height: 394px;
        i {
            font-size: 106px;
            text-align: center;
            color: #fff;
            margin-top: 86px;
            margin-bottom: 30px;
        }
    }
    .slick-prev:before {
        background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/arrow-up.png');
        width: 57px;
        height: 29px;
    }
    .slick-next:before {
        background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/arrow-down.png');
        width: 57px;
        height: 29px;
    }
    .slick-prev,
    .slick-next {
        width: 57px;
        height: 29px;
        z-index: 100;
    }
    .slick-prev {
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    .slick-history {
        margin-top: 40px;
    }
    .slick-next {
        margin: auto;
        left: 0;
        right: 0;
        // top: initial;
        top: auto;
        bottom: -90px;
    }
    .history-slider__container {
        height: 440px;
        margin-bottom: 60px;
    }
    .history-slide__image {
        margin: 80px auto 28px;
    }
    .slick-slide {
        -webkit-transform: translate3d(0, 0, 0);
        @media (max-width: 1070px) {
            left: 22px;
        }
    }
    .year-slider {
        height: 500px;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/dashed-line.png');
            left: 45px;
            top: 0px;
            height: 100%;
            width: 1px;
            @media (max-width: 1070px) {
                left: 7px;
            }
        }
        .hs_cos_wrapper_widget {
            color: #fff;
            font-size: 30px;
            padding: 15px 0;
            position: relative;
            left: 60px;
            text-align: left;
            transition: font-size .2s;
            @media (max-width: 1070px) {
                left: 22px;
            }
        }
        .slick-center {
            //font-size: 42px;
            color: hubl("$main_font_color");
            &:before {
                background-color: hubl("$main_font_color");
            }
        }
        .hs_cos_wrapper_widget.slick-center:hover {
            //font-size: 42px;
        }
        .hs_cos_wrapper_widget:hover {
            //font-size: 32px;;;
        }
        .hs_cos_wrapper_widget::before {
            position: absolute;
            content: "";
            width: 11px;
            height: 11px;
            top: 6px;
            bottom: 0px;
            left: -21px;
            margin: auto;
            border-radius: 50%;
            background-color: #fff;
        }
        .center-slide {
            color: $secondaryTextColor;
            font-size: 38px;
            position: absolute;
            -webkit-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
            &:before {
                width: 16px;
                height: 16px;
                left: -42px;
                background-color: $secondaryTextColor;
                -webkit-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
        }
        span {
            cursor: pointer;
        }
    }
    @media (max-width: 767px) {
        .dashed-line {
            width: 100%;
            float: none;
        }
        .slick-history {
            width: 65%;
            float: left;
        }
        .history-slider__container {
            float: none;
            width: 100%;
            height: auto;
        }
        .history-slide__image {
            margin-top: 30px;
        }
        .year-slider {
            float: none !important;
            width: 100%;
            height: auto;
            margin-top: 30px;
            padding: 10px 0;
            &:before {
                background: 0;
                background-image: none;
                border-bottom: 2px dotted rgba(255, 255, 255, .7);
                width: 100%;
                left: 0;
                top: -15px;
            }
            .hs_cos_wrapper_widget.slick-center {
                &:hover {
                    font-size: 30px;
                }
            }
            .slick-current {
                font-size: 30px;
                &:before {
                    background-color: $secondaryTextColor;
                }
            }
            .hs_cos_wrapper_widget {
                padding: 0 15px;
                &:before {
                    position: absolute;
                    content: "";
                    width: 11px;
                    height: 11px;
                    top: 40px;
                    bottom: 0;
                    left: 47%;
                    margin: auto;
                    border-radius: 50%;
                    background-color: white;
                }
            }
            .slick-track {
                height: 53px;
            }
        }
    }
    @media (max-width: 480px) {
        padding-bottom: 0;
        .dashed-line {
            width: 100%;
        }
        .slick-history {
            width: 50%;
            float: left;
        }
    }
    &.redesign {
        color: black;
        p {
            color: black;
        }
        >.container {
            max-width: 850px;
        }
        .history-slide {
            min-height: 500px;
            h3 {
                margin-top: 15%;
                color: hubl("$bg_color_2");
            }
            h2 {
                margin-top: 25%;
                color: hubl("$bg_color_2");
                margin-bottom: 5%;
            }
        }
        .year-slider {
            width: 150px;
            &:before {
                background-image: url('https://cdn2.hubspot.net/hubfs/486307/dashed-line%20kopia.png');
                left: 45px;
                content: "";
                position: absolute;
                top: 0px;
                height: 100%;
                width: 1px;
                @media (max-width: 450px) {
                    left: 5px;
                }
            }
            .slick-list {
                padding: 0 !important;
            }
            .hs_cos_wrapper_widget {
                color: black;
                left: 60px;
                padding: 15px 0;
                &:before {
                    background-color: black;
                    position: absolute;
                    content: "";
                    width: 11px;
                    height: 11px;
                    top: 6px;
                    bottom: 0px;
                    left: -21px;
                    margin: auto;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                }
                &.slick-current {
                    font-weight: 500;
                    color: hubl("$bg_color_4");
                }
                @media (max-width: 450px) {
                    left: 20px;
                }
            }
        }
        >.container >.span12 >.row-fluid-wrapper >.row-fluid {
            display: flex;
        }
        .history-slider__container {
            width: calc(100% - 200px);
            max-width: 550px;
            margin: 0 auto 60px;
            @media (max-width: 450px) {
                width: calc(100% - 100px);
            }
        }
        .slick-prev {
            &:before {
                background-image: url('https://cdn2.hubspot.net/hubfs/486307/arrow-black.png');
                // transform: scaleY(-1) translateZ(0);
                transform: translateZ(0) rotate(180deg);
                background-size: contain;
                background-position: center center;
            }
        }
        .slick-next {
            &:before {
                background-image: url('https://cdn2.hubspot.net/hubfs/486307/arrow-black.png');
                transform: translateZ(0);
                background-size: contain;
                background-position: center center;
            }
        }
        .slick-prev,
        .slick-next {
            &:before {
                opacity: 0.3;
                transition: .3s linear;
            }
            &:hover {
                &:before {
                    opacity: 0.7;
                }
            }
        }
    }
}
