.va-text-video-modal {
    position: relative;
    width: 100%;
    float: left;
    padding: 70px 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    background-color: #333;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .container {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        top: 50%;
        // transform: translate(-50%, -50%);
        transform: translateY(-50%);
        width: 100%;
        max-width: 100%;
        text-align: center;
        z-index: 100;
        // margin: 0 auto;
        // left: 50%;
    }
    &__background-video-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        video {
            position: relative;
            min-width: 100%;
            height: 100%;
            max-width: none;
            &::-webkit-media-controls {
                display: none;
            }
        }
    }
    &__content {
        position: relative;
        width: 100%;
        text-align: center;
        color: #fff;
        z-index: 3;
        max-width: 700px;
        margin: 0 auto;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span,
        strong,
        small,
        li {
            color: inherit;
            text-transform: none;
            margin: 20px 0;
        }
        p {
            &.subheading {
                font-size: 24px;
                font-weight: 400;
            }
        }
        &.hs_cos_wrapper_type_rich_text {
            h3 {
                color: #fff;
                font-weight: 300;
                font-size: 58px;
                padding: 0 20px;
            }
            a:not(.cta_button) {
                color: #fff;
            }
        }
    }
    &__play-button-wrapper {
        position: relative;
        width: 55%;
        text-align: center;
        z-index: 3;
    }
}

@media (max-width: 1200px) {
    .va-text-video-modal {
        &__content {
            // width: 50%;
        }
        &__play-button-wrapper {
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .va-text-video-modal {
        padding: 45px 0;
        .container {
            display: block;
        }
        &__content {
            width: 100%;
        }
        &__play-button-wrapper {
            padding: 40px 0 60px;
            width: 100%;
        }
    }
}