.image-with-caption {
    margin: 5px 0 10px;
    .image-wrapper {
        margin: 0 auto;
        img {
            display: block;
            // margin: 0 auto;
            width: 100%;
            
            height: auto;
        }
    }
}

h5.module-image-caption {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin: 10px 0 15px;
    .hs-content-name-inscopix-home-page & {
        font-size: 18px;
        line-height: 1.1;
    }
}
