figure.people {
	width: 250px;
	margin: 25px 7px;
	.image {
    width: 210px;
    height: 210px;
    background-size: cover;
    background-color: white;
	background-position: center center;
	border-radius: 50%;
    overflow: hidden;
    	position: relative;
      margin: 0 auto;
	}
	.image:hover .people-hover {
  		clip: rect(0px,211px,211px,0px);
    }
	.name-and-surname {
		font-size: 20px;
		color: hubl("$bg_color_2");
		font-weight: 500;
		text-align: center;
		// text-transform: uppercase;
		margin: 20px 0 8px 0;
		line-height: 1;
	}

	.job {
    font-size: 16px;
    color: #626262;
    text-align: center;
    margin: 0;
	}
	.people-hover {
		box-shadow: inset 0 0 0 211px hubl("$cta_background");
		display: inline-block;
		width: 210px;
		transition: all 0.3s;
		background-color: hubl("$cta_background");
		height: 209.9px;
    transition: 0.5s;
    position: absolute;
    clip: rect(210px, 210px, 210px, 0px);
    border-radius: 50%;
		a {
			display: inline-block;
    		margin-top: 80px;
		}
		.social-icons {
			text-align: center;
      .social-link-show-popup {
        color: white;
        margin-top: 0;
        font-size: 26px;
        display: block;
        padding: 88px 0;
        border-radius: 100px;
        font-weight: 300;
        letter-spacing: 0.4px;
      }
      .social-link-show-popup:hover {
        text-decoration: none;
      }
		}
		.icon-circle {
			margin-top: 80px;
			text-align: center;
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
			margin: 0 3px;
	    	i {
    			text-align: center;
    			color: hubl("$cta_background");
    			font-size: 25px;
    			display: block;
    			line-height: 50px;
			}
		}
	}


  .people-desc {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    .people-desc-left {
      width: 25%;
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 30px;
      }
      .image {
        border: 3px solid hubl("$bg_color_2");
        @media (max-width: 992px) {
          margin: 0 auto;
        }
      }
      .name-and-surname {
        color: hubl("$bg_color_2");
        margin-bottom: 5px;
        letter-spacing: 0.8px;
      }
      .job {
        color: #626262;
      }
    }
    .people-desc-right {
      width: 75%;
      padding-left: 30px;
      @media (max-width: 992px) {
        width: 100%;
        padding-left: 0;
      }
      span {
        font-size: 16px;
        color: #656565;
      }
    }
  }


}
.people-wrapper > .hs_cos_wrapper_widget_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}