.research-areas-wrapper {
    padding: 55px 0 80px;
    .container {
        padding: 0 15px;
        span {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            > div {
                width: 50%;
                text-align: center;
                &:nth-child(odd) {
                    padding-left: 50px;
                    .research-areas-single {
                        float: right;
                    }
                }
                &:nth-child(even) {
                    padding-right: 50px;
                    .research-areas-single {
                        float: left;
                    }
                }
            }
        @media screen and (max-width: 786px) {
            > div {
                width: 100%;
                .research-areas-single {
                    margin: 10px auto 30px;
                }
                &:nth-child(odd) {
                    padding-left: 0;
                    .research-areas-single {
                        float: none;
                    }
                }
                &:nth-child(even) {
                    padding-right: 0;
                    .research-areas-single {
                        float: none;
                    }
                }
            }
        }
        }
        > div {
            float: none;
        }
        .research-areas-single {
            width: 382px;
            height: 395px;
            margin: 0 50px;
            margin-bottom: 45px;
            background-size: cover;
            background-position: center center;
            @media screen and (max-width: 425px) {
                width: 100%;
                min-width: 250px;
            }
            .research-areas-single-inner {
                padding: 50px;
                @media screen and (max-width: 425px) {
                    padding: 30px 20px 0;
                }
                h4 {
                    padding: 40px 0;
                    color: #ffffff;
                    font-size: 38px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                .research-areas-button {
                    span {
                        margin: 0 auto;
                    }
                }
            }
            @media screen and (min-width: 787px) and (max-width: 991px) {
                width: 300px;
                height: 315px;
                .research-areas-single-inner {
                    padding: 25px;
                    h4 {
                        padding: 30px 0 20px;
                        color: #ffffff;
                        font-size: 34px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .research-areas-button {
                        span {
                            margin: 0 auto;
                        }
                    }
                }

            }
        }
    }
}
