.resources-icons-new {
    .body-container-wrapper {
        margin-top: 70px;
    }
}

.header-resources {
    height: 150px;
    background: #3d97cd;
    h2 {
        margin: 0;
        color: #fff;
        line-height: 150px;
        font-size: 58px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.resources-icons {
    padding: 60px 0 80px;
    >.widget-span.widget-type-cell {
        float: none;
        display: flex;
        flex-wrap: wrap;
        >.row-fluid-wrapper {
            flex: 1 0 33%;
            @media screen and (max-width: 992px) {
                flex: 1 0 50%;
            }
            @media screen and (max-width: 550px) {
                flex: 1 0 100%;
            }
            .resources-icon-single {
                text-align: center;
                padding: 40px 20px;
                a:hover {
                    text-decoration: none;
                }
                img {
                    height: 125px;
                    width: auto;
                }
                h4 {
                    font-size: 24px;
                    line-height: 30px;
                    color: hubl("$bg_color_4");
                    text-transform: uppercase;
                    font-weight: 500; // letter-spacing: -0.5px;
                    margin: 30px 0 10px;
                }
                p {
                    margin: 0;
                    padding: 0 30px;
                    font-size: 17px;
                    line-height: 30px;
                    color: #666666;
                }
            }
        }
    }
}



.resources-featured,
.the-latest-featured {
    background: #f7f7f7;
    padding: 60px 0;
    >.container {
        max-width: 1050px;
        >div {
            float: none;
        }
    }
    .resources-featured-container {
        >div.widget-span {
            float: none;
            display: flex;
            flex-wrap: wrap;
            >.row-fluid-wrapper {
                flex: 1 0 50%;
                @media screen and (max-width: 767px) {
                    flex: 1 0 100%;
                }
            }
        }
    }
    h2 {
        // margin: 0;
        // font-size: 40px;
        // color: #626262;
        // text-transform: uppercase;
        // font-weight: 500;
        margin-bottom: 60px;
    }
    .hs_cos_wrapper_type_raw_html {}
    .the-latest-featured-single {
        max-width: 800px;
        min-height: 80px;
        height: auto !important;
        margin: 0 auto 24px;
    }
    .resources-fatured-single,
    .the-latest-featured-single {
        padding: 0 15px;
        height: 80px;
        margin-bottom: 24px;
        position: relative; // a:not(.cta_button):hover {
        //     text-decoration: none;
        // }
        .resources-fatured-single-inner,
        .the-latest-featured-single-inner {
            border-radius: 5px;
            background: #ffffff;
            border-left: 4px solid #ff8022;
            box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.1);
            min-height: 80px;
            margin-bottom: 20px;
            padding: 15px 45px 0 30px;
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
                box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.2);
            }
            h6 {
                font-size: 18px;
                line-height: 20px;
                // text-transform: uppercase;
                color: #3d97cd;
                font-weight: 500;
                margin: 0;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
                color: #626262;
                margin: 0;
                font-weight: 300;
                padding-bottom: 15px;
            }
        }
        &:after {
            content: "\f105";
            font-size: 24px;
            font-family: FontAwesome;
            color: #666666;
            position: absolute;
            right: 40px;
            // top: 23px;
            height: 34px;
            width: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.the-latest-featured {
    @media (max-width: 991px) {
        padding: 20px 0 0 0;
    }
}