.sm-slide{
  width: 100%;
  height: 500px;
  margin-top: 70px;
  position: relative;
        .slide-img{

            width: 100%;
            height: 502px;
            overflow: hidden;
            display: table;
            text-align: center;
             z-index: 90;

            .slide-content{ 
                vertical-align: middle;
                display: table-cell;
                z-index: 92;
                 position: relative;
                h1{
                    color: #fff;
                    font-size: 58px;
                    font-weight: 300;
                    padding: 0 20px;
                    span{
                        color: hubl("$cta_background");
                        font-weight: 600;
                    }
                }
                h2{
                    color: #fff;
                    font-weight: 300;
                    font-size: 23px;
                    text-transform: capitalize;
                    padding: 0 20px;
                }
            }
        }
        .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }

}

.sm-slider-main{
        
    .slick-dots{
        bottom: 20px;
        li{
            button{
                &:before{
                    font-size: 0px;
                    line-height: 0px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: '';
                    display: block;
                    width:8px;
                    height: 8px;
                    text-align: center;
                    border-radius:50%;
                    opacity: 1;
                    background: hubl("$cta_background");
                }
            }
        }
        li.slick-active{
            button{
                &:before{
                    opacity:1;
                    background: #fff;
                }
            }
        }

    }

}
.sm-slider-wrapper {
    margin-bottom: 33px;
    .sm-slide {
        margin-top: 0;
    }
}
