	.testimonials {
	    background-size: cover;
	    background-position: center;
	    min-height: 475px;
	    padding-bottom: 40px;
	    text-align: center;
	    background-color: hubl("$first_color");
	    position: relative;
	    .slick-arrow {
	        position: absolute;
	        top: 50%;
	        transform: translateY(-50%);
	        z-index: 1;
	        width: auto;
	        height: auto;
	        &.slick-prev {
	            left: 48px;
	            &:before {
	                content: '';
	                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	                background-repeat: no-repeat;
	                background-size: cover;
	                width: 30px;
	                height: 58px;
	                display: block;
	            }
	        }
	        &.slick-next {
	            right: 48px;
	            &:before {
	                content: '';
	                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	                background-repeat: no-repeat;
	                background-size: cover;
	                transform: scaleX(-1);
	                width: 30px;
	                height: 58px;
	                display: block;
	            }
	        }
	    }
	    .slick-dots {
	        bottom: 50px;
	        width: 100%;
	        list-style: none;
	        text-align: center;
	        li {
	            button:before {
	                font-size: 26px;
	            }
	            &.slick-active {
	                button:before {
	                    color: #fff;
	                }
	            }
	        }
	    }
	    h2 {
	        font-size: 36px;
	        margin-top: 100px;
	        color: #fff !important;
			position: relative;
	    }
	    .testimonial-text {
	        color: #fff !important;
	        padding: 60px 50px 30px 50px;
	        font-size: 16px;
	        width: 90%;
	        max-width: 901px;
	        margin: auto !important;
	    }
	    .person {
	        color: #fff !important;
			color: hubl('$bg_color_2');
	        font-size: 16px;
	        // font-size: 20px;
	        font-weight: 600;
			margin: 0 0 5px 0 !important;
	        span {
	            font-weight: 300;
	            color: hubl("$bg_color_2");
	        }
	    }
		.person-name {
			color: hubl('$bg_color_2') !important;
		}
		.person-pos, .person-org {
			font-weight: 300;
		}
	    .person-container {
	        .person-left {
	            text-align: right;
	            padding-right: 10px;
	        }
	        .person-right {
	            text-align: left;
	            padding-left: 10px;
	            height: 100px;
	            p {
	                padding-top: 15px;
	            }
	        }
	        img {
	            display: inline-block;
	            border-radius: 50%;
	        }
	        div {
	            width: 48%;
	            float: left;
	        }
	    }
	}

	@media (max-width:767px) {
	    .testimonials {
	        .testimonial-text {
	            width: 100%;
	            padding: 20px 20px 10px;
	        }
	    }
	}