            // MEET THE TEAM
.meet-the-team-wrapper {
    min-height: 575px;
    padding-bottom: 20px;
    background: #f7f7f7;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .slick-container {
        margin: 0 auto;
        max-width: 1400px;
        >div {
            float: none;
        }
    }
    .slick-slider {
        margin: 0;
    }
    h2 {
        font-size: 40px;
        color: hubl("$bg_color_2");
        text-transform: none;
        font-weight: 300;
        margin-top: 55px;
        margin-bottom: 0;
        z-index: 99;
        position: relative;
        span {
            color: hubl("$cta_background");
            letter-spacing: 3px;
        }
    }
    .slick-prev {
        width: 30px;
        height: 60px;
        left: 0;
        @media screen and (max-width: 1400px) {
            left: 50px;
        }
    }
    .slick-next {
        width: 30px;
        height: 60px;
        right: 0;
        @media screen and (max-width: 1400px) {
            right: 50px;
        }
    }
    .slick-testimonial-quotes {
        >div {
            float: none;
        }
    }
    .slick-list {
        padding: 0 0 30px 0 !important;
        @media screen and (max-width: 1400px) {
            padding: 0 !important;
        }
    }
    .slick-testimonial-quotes .slick-track {
        height: calc(400px * 1.3);
        padding-bottom: 30px;
        @media screen and (max-width: 1400px) {
            padding-bottom: 0px;
        }
        .slick-slide {
            padding-bottom: 0px;
        }
        .hs_cos_wrapper {
            .testimonial-box {
                background-color: #fff;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                text-align: center;
                max-width: 360px;
                min-width: 240px;
                transition: all 0.3s linear;
                margin: 0 auto;
                box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.05);
                padding-bottom: 20px; // @media (max-width: 1400px) {
                // 	max-width: 300px;
                // 	margin: 0 30px;
                // 	padding: 0 5px;
                // }
                @media (max-width: 400px) {
                    margin: 0 15px;
                    padding: 0 10px;
                }
                .person {
                    margin-top: 30px;
                    padding: 0 90px;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        margin-top: -25px;
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        border: 3px solid #fff;
                    }
                    h4 {
                        font-size: 14px;
                        line-height: 22px;
                        margin: 0;
                        font-weight: 500;
                        color: hubl("$bg_color_2");
                        padding-top: 90px;
                    }
                    p {
                        font-size: 13px;
                        line-height: 22px;
                        margin: 0;
                        font-weight: 500;
                        color: #626262;
                    }
                }
                .testimonial-quote {
                    border-radius: 3px;
                    padding: 20px 25px 15px;
                    font-size: 13.85px;
                    line-height: 18px;
                    color: #626262;
                    position: relative;
                }
            }
        }
        .slick-slide {
            transition: all 0.3s ease-in-out;
        }
        .active-slide {
            transform: scale(1.3);
            @media (max-width: 1400px) {
                transform: scale(1);
            }
        }
        .no-animation {
            transition: none!important;
        }
    }
}

// OLD STYLES FOR TESTIMONIALS SLIDER
// TESTIMONIAL SLIDER -- START --
// TESTIMONIAL SLIDER -- START --
.testimonials-quotes {
    min-height: 575px;
    background-color: #f7f7f7;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-container {
        margin: 0 auto;
        max-width: 1400px;
    }
    .testimonial-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.14);
    }
    .slick-slider {
        margin: 0;
    }
    h2 {
        font-size: 40px;
        color: #fff;
        text-transform: none;
        font-weight: 300;
        margin-top: 70px;
        z-index: 99;
        position: relative;
        span {
            color: hubl("$cta_background");
            letter-spacing: 3px;
        }
    }
    .slick-prev {
        width: 30px;
        height: 60px;
        left: 0;
        /*&:before {
			width: 30px;
			height: 60px;
			content: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/icons/arrow-left.png');
		}	*/
        @media screen and (max-width: 1400px) {
            left: 50px;
        }
    }
    .slick-next {
        width: 30px;
        height: 60px;
        right: 0;
        /*&:before {
			width: 30px;
			height: 60px;
			content: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/icons/arrow-right.png');
		}*/
        @media screen and (max-width: 1400px) {
            right: 50px;
        }
    }
    .slick-testimonial-quotes .slick-track {
        height: calc(400px * 1.3);
        .hs_cos_wrapper {
            .testimonial-box {
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                text-align: center;
                max-width: 360px;
                min-width: 240px;
                transition: all 0.3s linear;
                margin: 0 auto;
                @media (max-width: 400px) {
                    margin: 0 15px;
                    padding: 0 10px;
                }
                .testimonial-quote {
                    background-color: #fff;
                    border-radius: 3px;
                    padding: 40px 25px;
                    font-size: 13.27px;
                    line-height: 17.7px;
                    color: hubl("$main_font_color");
                    position: relative;
                    box-shadow: 6px 6px hubl("$bg_color_2"); // &:before {
                    // 	content: '"';
                    // 	position: absolute;
                    // 	font-size: 150px;
                    // 	top: -25px;
                    // 	color: hubl("$cta_background");
                    // 	left: 0;
                    // 	margin-left: -17px;
                    // 	margin-top: -12px;
                    // 	transform: rotate(180deg);
                    // }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -18px;
                        left: 50%;
                        margin-left: -13px;
                        width: 0;
                        height: 0;
                        border-left: 13px solid transparent;
                        border-right: 13px solid transparent;
                        border-top: 19px solid #fff;
                        filter: drop-shadow(8px 1px hubl("$bg_color_2"));
                    }
                }
                img {
                    margin: 0 auto;
                    height: 66px;
                    width: 66px;
                    border-radius: 50%;
                    border: 3px solid hubl("$bg_color_2");
                    float: left;
                }
                .person {
                    margin-top: 30px; // padding: 0 90px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    .text-wrapper {
                        h4 {
                            font-size: 16px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .img-wrapper {
                        min-width: 85px;
                    }
                    h4 {
                        font-size: 18px;
                        margin: 0;
                        color: #fff;
                        padding-top: 10px;
                    }
                    p {
                        font-size: 14.66px;
                        line-height: 18px;
                        margin: 0;
                        margin-top: 5px;
                        color: #fff;
                        &:nth-of-type(2) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        /*			.slick-current + div {
			transform: scale(1.3);
		    transition: all 0.3s ease-in-out;
		    @media screen and (max-width: 1400px){
				transform: none;
		    }

		}
		.slick-current {
		    transition: all 0.3s ease-in-out;
		    @media screen and (min-width: 601px) and (max-width: 1400px) {
		    	transform: scale(1.3);
		    }
		    @media screen and (max-width: 600px){
				transform: none;
		    }
		}
		*/
        .slick-slide {
            transition: all 0.3s ease-in-out;
        }
        .active-slide {
            transform: scale(1.3);
            @media (max-width: 1400px) {
                transform: scale(1);
            }
        }
        .no-animation {
            transition: none!important;
        }
    }
}

.ios-device {
    .meet-the-team-wrapper .slick-testimonial-quotes .slick-track .hs_cos_wrapper .testimonial-box {
        .person {
            p {
                font-weight: 600;
            }          
        }
        .testimonial-quote {
            font-weight: 400;
        }
    }
    .testimonials  {
        .testimonial-text, .person-pos, .person-org {
        font-weight: 400;
        }
        
    }
}

// TESTIMONIAL SLIDER --END--