.txt-cta-separator {
	min-height: 160px;
	.separator-content {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: space-around;			
		}	
		h3 {
			// color: hubl("$cta_background");
			color: #fff;
			font-size: 34px;
			font-weight: 200;
			// text-transform: uppercase;
			text-transform: none;
			letter-spacing: 4px;
			@media (max-width: 767px) {
				text-align: center;
			}
		}
	}
}
.full-width-bg-nopad {}
    .gray {
        background-color: #f7f7f7; }
    .blue {
        background-color: #3D97CD; }
    .white {
        background-color: #ffffff; }
        
.full-width-bg-pad {
    padding-top: 60px;
    padding-bottom: 80px; }
    .gray {
        background-color: #f7f7f7; }
    .blue {
        background-color: #3D97CD; }
    .white {
        background-color: #ffffff; }