section.two-column-boxes-module {
    padding: 20px 0;
    width: 100%;
    // h2 {
    //     color: hubl("$bg_color_2");
    //     font-size: 40px;
    //     margin-top: 0;
    // }
    .boxes {
        &--wrapper {
            display: flex;
            // margin-top: 70px;
            @media (max-width: 700px) {
                flex-direction: column;
                // margin-top: 20px;
            }
        }
        &--single {
            flex: 0 1 50%;
            text-align: center;
            padding: 25px 50px 50px;
            border-radius: 5px;
            box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.2);
            .img-wrapper {
                max-width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a {
                &:last-of-type {
                    &.cta_button {
                        margin-top: 50px;
                        @media (max-width: 700px) {
                            margin-top: 25px;
                        }
                    }
                }
            }
            &:first-of-type {
                margin-right: 15px;
            }
            &:last-of-type {
                margin-left: 15px;
            }
            @media (max-width: 700px) {
                flex: 0 1 100%;
                flex-basis: auto;
                padding: 25px;
                &:first-of-type, &:last-of-type {
                	margin: 15px 0 0;
                }
            }
        }
    }
    &.white {
        .boxes--single {
            background-color: hubl("$bg_color_1");
        }
    }
    &.grey {
        background-color: hubl("$bg_color_1");
        .boxes--single {
            background-color: #fff;
        }
    }
    // @media (max-width: 700px) {
    // 	padding: 35px 0;
    // }
}
