section.video-modules-wrapper{
	.hs_cos_wrapper_type_widget_container{
		display:flex;
		flex-wrap:wrap;
		padding:80px 0px;
		justify-content:felx-start;
		margin-left:-16px;
		margin-right:-16px;
		@media ( max-width: 767px ){
			flex-wrap:no-wrap;
			justify-content:space-around;
		}
		>.hs_cos_wrapper_widget{
			flex-basis:50%;
			padding:16px;
			@media ( max-width: 767px ){
				flex-basis:100%;
			}
		}
	}
}
section.video-popup-module{
	max-width:552px;
	.placeholder{
		.video-placeholder{
			
			width:100%;
			padding-bottom:63%;
			background-repeat:no-repeat;
			background-position:center;
			position: relative;
			display:table;
			background-size:cover;
			.mask{
				background-color: rgba(0,0,0,0.24);
				top:0px;
				left:0px;
				width:100%;
				height:100%;
				.play-btn{
					width:90px;
					height:90px;
					position: absolute;
					left:50%;
					top:50%;
					transform: translate(-50%,-50%);
					cursor:pointer;
					.white{
						position:absolute;
						top:0px;
						left:0px;
						transition: all 0.3s ease-in-out;
						background-color:rgba(255,255,255,0);
					}
					.orange{
						position:absolute;
						top:0px;
						left:0px;
					}
				}
				&:hover{
					cursor:pointer;
					.white{
						opacity:0;
					}
				}
			}
		}
		h2.video-header{
			text-align: left;
		}
		p{
			font-size:16px;
			color: #626262;
		}
	}
	.video-popup{
		padding:22px 25px;
		display: block !important;
		.popup-description{
			margin-top:10px;
			margin-bottom:-10px;
			color:#626262;
			font-size:16px;
			line-height:1.6;
			strong{
				font-weight:600;
			}
		}

	}
}